{% load static %}
{% load account %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="dopepod is a simple platform-independent podcast web app. Listen and subscribe to all your favorite podcasts.">
    <meta name="application-name" content="dopepod">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
{% if user.profile.dark_theme %}
  <body class="darken">
{% else %}
  <body>
{% endif %}
    <!-- MAIN CONTENT -->
    <div class="container-fluid">
      <!-- MULTIBAR -->
      <nav class="navbar fixed-top color-4-trans" id="dopebar">
        <div class="container">
          {% include 'dopebar.html' %}
        </div>
      </nav>
      <div class="row" id="main-wrapper">
        <div class="col-12 order-3 col-md-6 col-xl-3 order-xl-2 offset-xl-3" id="left">
          <div class="row" id="charts">
            {% if charts %}
              {% with charts as results %}
                {% include 'results_base.html' %}
              {% endwith %}
            {% endif %}
          </div>
        </div>
        <!-- MAIN -->
        <div class="col-12 order-1 col-xl-6 offset-xl-3" id="main">
          <!-- CENTER STAGE -->
          <div class="row" id="center-stage">
            {% block center-stage %}
            {% endblock %}
          </div>
        </div>
        <!-- CHARTS -->
        <div class="col-12 order-2 col-md-6 col-xl-3 order-xl-3" id="right">
          <div class="row" id="last-played">
            {% if last_played %}
              {% include 'last_played.html' %}
            {% endif %}
          </div>
      </div>
      </div>
    </div>
    <!-- PLAYER -->
    <div class="container-fluid" id="player">
      {% include 'player.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
