{% load static %}
{% load account %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
    <meta name="description" content="dopepod is a simple platform-independent podcast web app. Listen and subscribe to all your favorite podcasts.">
    <meta name="application-name" content="dopepod">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
{% if user.profile.dark_theme %}
  <body class="darken">
{% else %}
  <body>
{% endif %}
    <!-- MAIN CONTENT -->
    <div id="main-wrapper">
      <!-- MULTIBAR -->
      <nav class="navbar fixed-top color-4-trans" id="dopebar">
        <div class="container" id="dopebar-drop">
          {% include 'dopebar.html' %}
        </div>
      </nav>
      <!-- MAIN -->
      <div class="container"id="main">
        <!-- CENTER STAGE -->
        <div class="row" id="center-stage">
          {% block center-stage %}
          {% endblock %}
        </div>
        <!-- EPISODES -->
        <div class="row" id="episodes">
          {% if episodes %}
            {% with episodes as results %}
              {% include 'results_base.html' %}
            {% endwith %}
          {% endif %}
        </div>
        <!-- RESULTS -->
        <div class="row" id="search">
          {% if search %}
            {% with search as results %}
              {% include 'results_base.html' %}
            {% endwith %}
          {% endif %}
        </div>
        <!-- CHARTS -->
        <div class="row" id="charts">
          {% if charts %}
            {% with charts as results %}
              {% include 'results_base.html' %}
            {% endwith %}
          {% endif %}
          {% if results.last_played %}
            {% include 'last_played.html' %}
          {% endif %}
        </div>
      </div>
    </div>
    <!-- PLAYER -->
    <div class="container-fluid" id="player-drop">
      {% include 'player.html' %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
