<div class="col-auto color-1 results-bar">
  <span class="results-header">
    {{ chart_header }}
  </span>
  <!-- <button class="btn btn-dope float-right" id="show-button" type="button" data-toggle="collapse" data-target="#chart-collapse" aria-expanded="false" aria-controls="chart-collapse">
    +
  </button> -->
</div>
<div class="col-12 collapse results-wrapper show" id="chart-collapse">
  <div class="row options">
    <div class="col">
      <div class="float-right" id="option-buttons">
        <a class="btn btn-dope toggle" data-toggle="collapse" href="#chart-genre-collapse" aria-expanded="false" aria-controls="chart-genre-collapse">
          Genre
        </a>
      </div>
    </div>
  </div>
  <form id="chart-form" method="GET" action="{% url 'charts' %}">
    <div class="row options-select">
      <div class="collapse" id="chart-genre-collapse">
        {% if chart_genres %}
          <div class="options-group color-1" id="chart-genre-buttons" data-toggle="buttons">
            <ul id="button-field">
            {% if chart_selected_genre == 'All' %}
              <label class="btn btn-dope options-button active">
                <input class="field-button" type="radio" name="chart-genre" value="All" checked>
                All
              </label>
            {% else %}
              <label class="btn btn-dope options-button">
                <input class="field-button" type="radio" name="chart-genre" value="All">
                All
              </label>
            {% endif %}
            {% for genre in chart_genres %}
              {% if chart_selected_genre == genre.name %}
              <li>
                <label class="btn btn-dope options-button active">
                  <input class="field-button" type="radio" name="chart-genre" value="{{ genre.name }}" checked>
                  {{ genre.name }}
                </label>
              </li>
              {% else %}
              <li>
                <label class="btn btn-dope options-button">
                  <input class="field-button" type="radio" name="chart-genre" value="{{ genre.name }}">
                  {{ genre.name }}
                </label>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
  <div class="row results-list">
    <div class="col">
      {% for podcast in chart %}
        <div class="row">
          <div class="col-auto">
            {% if chart_selected_genre == 'All' %}
              {{ podcast.global_rank }}
            {% else %}
              {{ podcast.genre_rank }}
            {% endif %}
          </div>
          <div class="col-auto">
            <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
              <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
            </a>
          </div>
          <div class="col">
            <h6 class="result-title">
              <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.title }}">
                {{ podcast.title }}
              </a>
            </h6>
            <p class="result-artist">
              <span>by </span>
              <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.artist }}">
                {{ podcast.artist }}
              </a>
            </p>
          </div>
        </div>
        {% if not forloop.last %}
          <hr class="h-line" />
        {% endif %}
      {% empty %}
        <p>
          No results :p
        </p>
      {% endfor %}
    </div>
  </div>
</div>
