<div class="col results-wrapper">
  <div class="row color">
    <div class="col results-bar">
      <span class="results-info">
        {{ chart_results_info }}
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-auto ml-auto">
      <a class="btn btn-outline-primary" data-toggle="collapse" href="#chart-genre-collapse" aria-expanded="false" aria-controls="chart-genre-collapse">
        Genre
      </a>
    </div>
  </div>
  <form id="chart-form" method="GET" action="{% url 'charts' %}">
    <div class="row options-select">
      <div class="collapse" id="chart-genre-collapse">
        {% if chart_genres %}
          <div class="options-group" id="chart-genre-buttons" data-toggle="buttons">
            <ul id="button-field">
            {% if chart_selected_genre == 'All' %}
              <label class="btn options-button active">
                <input class="field-button" type="radio" name="chart-genre" value="All" checked>
                All
              </label>
            {% else %}
              <label class="btn options-button">
                <input class="field-button" type="radio" name="chart-genre" value="All">
                All
              </label>
            {% endif %}
            {% for genre in chart_genres %}
              {% if chart_selected_genre == genre.name %}
              <li>
                <label class="btn options-button active">
                  <input class="field-button" type="radio" name="chart-genre" value="{{ genre.name }}" checked>
                  {{ genre.name }}
                </label>
              </li>
              {% else %}
              <li>
                <label class="btn options-button">
                  <input class="field-button" type="radio" name="chart-genre" value="{{ genre.name }}">
                  {{ genre.name }}
                </label>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
  <div class="row results-list">
    <div class="col">
      {% for podcast in chart %}
        <div class="row">
          <div class="col-auto">
            {% if chart_selected_genre == 'All' %}
              {{ podcast.global_rank }}
            {% else %}
              {{ podcast.genre_rank }}
            {% endif %}
          </div>
          <div class="col-auto">
            <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
              <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
            </a>
          </div>
          <div class="col text-truncate">
            <h6 class="result-title">
              <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.title }}">
                {{ podcast.title }}
              </a>
            </h6>
            <p class="result-artist">
              <span>by </span>
              <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.artist }}">
                {{ podcast.artist }}
              </a>
            </p>
          </div>
        </div>
        {% if not forloop.last %}
          <hr />
        {% endif %}
      {% empty %}
        <p>
          No results :p
        </p>
      {% endfor %}
    </div>
  </div>
</div>
