{% extends request.is_ajax|yesno:'ajax.html,base.html' %}

{% block title %}
dashboard - dopepod
{% endblock %}

{% block center-stage %}
<div class="container">
  <div class="row" id="dashboard">
    <div class="col-auto" id="dashboard-top">
      <h3>
        dashboard
      </h3>
      <p>
        You have {{ user.subscription_set.count }}
        <a class="subscriptions-link" href="{% url 'subscriptions' %}">
          subscriptions
        </a>
      </p>
      <p>
        You have no playlist<br />
        (Coming soon!)
      </p>
    </div>
  </div>
</div>
{% endblock %}
