{% extends request.is_ajax|yesno:'ajax.min.html,base.min.html' %}

{% block title %}
dopepod
{% endblock %}

{% block center-stage %}
<div class="col-12 results color-5-trans dashboard">
  <h1>
    Dashboard
  </h1>
  <p>
    You have {{ user.subscription.count }}
    <a class="subscriptions-link" href="{% url 'subscriptions' %}">
      subscription{{ user.subscription.count|pluralize }}
    </a>
  </p>
  <p>
    You have {{ user.episode.count }} episode{{ user.episode.count|pluralize }} on your
    <a class="playlist-link" href="{% url 'playlist' %}">
      playlist
    </a>
  </p>
</div>
{% endblock %}
