<div class="row">
  <div class="col-12 order-2 col-lg-4 order-lg-1 dope-wrapper">
  </div>
  <div class="col-12 order-1 col-lg-4 order-lg-2 dope-wrapper">
    <p>
      {% with user.subscription.count as count %}
        You have {{ count }}
        <a class="subscriptions-link" href="{% url 'subscriptions' %}">
          subscription{{ count|pluralize }}
        </a>
      {% endwith %}
    </p>
    <p>
      {% with user.episode.count as count %}
        You have {{ count }} episode{{ count|pluralize }} on your
        <a class="playlist-link" href="{% url 'playlist' %}">
          playlist
        </a>
      {% endwith %}
    </p>
  </div>
  <div class="col-12 order-3 col-lg-4 dope-wrapper">
  </div>
</div>