<div class="container">
  <div class="row">
    <div class="col-3 col-lg-5" id="dopebar-l">
      <a class="dopebar-link d-inline-block d-xl-none" data-toggle="collapse" href="#dopebar-collapse" aria-expanded="false" aria-controls="results-collapse-{{ results.drop }}" aria-label="dopebar-collapse">
        <i class="fas fa-bars" title="Expand"></i>
      </a>
      <ul class="d-none d-xl-inline-block">
        <li>
          <a class="dopebar-link browse-link" href="{% url 'search' %}">
            Browse
          </a>
        </li>
        <li>
          <a class="dopebar-link charts-link" href="#">
            Charts
          </a>
        </li>
        <li>
          <a class="dopebar-link last-played-link" href="#">
            Last played
          </a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a class="dopebar-link subscriptions-link" href="{% url 'subscriptions' %}">
              Subscriptions
            </a>
          </li>
          <li>
            <a class="dopebar-link playlist-link" href="{% url 'playlist' %}">
              Playlist
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="col-6 col-lg-2" id="dopebar-c">
      <a class="dopebar-link index-link" href="/">
        <h1>dopepod</h1>
      </a>
    </div>
    <div class="col-3 col-lg-5" id="dopebar-r">
      {% if user.is_authenticated %}
        <form class="logout-form d-inline-block d-xl-none" method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button class="dopebar-link logout-link" type="submit">
            <i class="fas fa-sign-out-alt" title="Logout"></i>
          </button>
        </form>
      {% else %}
        <a class="dopebar-link login-link d-inline-block d-xl-none" href="/?view=login">
          <i class="fas fa-sign-in-alt" title="Login"></i>
        </a>
      {% endif %}
      <ul class="d-none d-xl-inline-block">
        {% if user.profile.dark_theme %}
          <li>
            <a class="dopebar-link lights-toggle" href="#">
              <i class="far fa-lightbulb fa-lg" title="Toggle Lights"></i>
            </a>
          </li>
        {% else %}
          <li>
            <a class="dopebar-link lights-toggle lit" href="#">
              <i class="far fa-lightbulb fa-lg" title="Toggle Lights"></i>
            </a>
          </li>
        {% endif %}
        {% if user.is_authenticated %}
          <li>
            <a class="dopebar-link settings-link" href="{% url 'settings' %}">
              Settings
            </a>
          </li>
          <li>
            <form class="logout-form" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="dopebar-link logout-link" type="submit">
                Logout
              </button>
            </form>
          </li>
        {% else %}
          <li>
            <a class="dopebar-link login-link" href="/?view=login">
              Login
            </a>
          </li>
          <li>
            <a class="dopebar-link signup-link" href="/?view=signup">
              Signup
            </a>
          </li>
        {% endif %}
        <li>
          <form class="form-inline search-form d-none d-xl-inline-block" method="GET" action="{% url 'search' %}">
            <label for="q" class="sr-only">Search for podcasts</label>
            <input class="dope-field q" type="text" name="q" type="search" placeholder="Search for podcasts"
            aria-label="Search for podcasts" maxlength="30" autocomplete="off" accept-charset="utf-8">
            <button class="search-button" type="submit">
              <i class="fa fa-search icon" title="Search"></i>
            </button>
          </form>
        </li>
      </ul>
    </div>
    <div class="col-12 collapse d-xl-none" id="dopebar-collapse">
      <form class="form-inline search-form d-inline-block d-xl-none" method="GET" action="{% url 'search' %}">
        <label for="q" class="sr-only">Search for podcasts</label>
        <input class="dope-field q" type="text" name="q" type="search" placeholder="Search for podcasts"
        aria-label="Search for podcasts" maxlength="30" autocomplete="off" accept-charset="utf-8">
        <button class="search-button" type="submit">
          <i class="fa fa-search icon"></i>
        </button>
      </form>
      {% if user.profile.dark_theme %}
        <a class="dopebar-link lights-toggle" href="#">
          <i class="far fa-lightbulb fa-lg" title="Toggle Lights"></i>
        </a>
      {% else %}
        <a class="dopebar-link lights-toggle lit" href="#">
          <i class="far fa-lightbulb fa-lg" title="Toggle Lights"></i>
        </a>
      {% endif %}
      <ul>
        <li>
          <a class="dopebar-link browse-link" href="{% url 'search' %}">
            Browse
          </a>
        </li>
        <li>
          <a class="dopebar-link charts-link" href="#">
            Charts
          </a>
        </li>
        <li>
          <a class="dopebar-link last-played-link" href="#">
            Last played
          </a>
        </li>
        {% if user.is_authenticated %}
          <li>
            <a class="dopebar-link subscriptions-link" href="{% url 'subscriptions' %}">
              Subscriptions
            </a>
          </li>
          <li>
            <a class="dopebar-link playlist-link" href="{% url 'playlist' %}">
              Playlist
            </a>
          </li>
          <li>
            <a class="dopebar-link settings-link" href="{% url 'settings' %}">
              Settings
            </a>
          </li>
          <li>
            <form class="logout-form" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="dopebar-link logout-link" type="submit">
                Logout
              </button>
            </form>
          </li>
        {% else %}
          <li>
            <a class="dopebar-link login-link" href="/?view=login">
              Login
            </a>
          </li>
          <li>
            <a class="dopebar-link signup-link" href="/?view=signup">
              Signup
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
