<div class="container-fluid color-1-trans" id="dopebar" {% if request.is_ajax %}data-theme="{{ user.profile.theme }}"{% endif %}>
  <div class="container">
    <div class="row">
      <div class="col-3 col-lg-5" id="dopebar-l">
        <a class="dope-link d-inline-block d-xl-none" data-toggle="collapse" href="#dopebar-collapse" aria-expanded="false" aria-controls="results-collapse-{{ results.drop }}" aria-label="dopebar-collapse">
          <i class="fas fa-bars" title="Expand"></i>
        </a>
        <ul class="d-none d-xl-inline-block">
          <li>
            <a class="dope-link browse-link" href="{% url 'search' %}">
              Browse
            </a>
          </li>
          <li>
            <a class="dope-link charts-link" href="#">
              Charts
            </a>
          </li>
          <li>
            <a class="dope-link last-played-link" href="#">
              Last played
            </a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a class="dope-link subscriptions-link" href="{% url 'subscriptions' %}">
                Subscriptions
              </a>
            </li>
            <li>
              <a class="dope-link playlist-link" href="{% url 'playlist' %}">
                Playlist
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-6 col-lg-2" id="dopebar-c">
        <a class="dope-link index-link" href="/">
          <h1>dopepod</h1>
        </a>
      </div>
      <div class="col-3 col-lg-5" id="dopebar-r">
        {% if user.is_authenticated %}
          <form class="logout-form d-inline-block d-xl-none" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="dope-link logout-link" type="submit">
              <i class="fas fa-sign-out-alt" title="Logout"></i>
            </button>
          </form>
        {% else %}
          <a class="dope-link login-link d-xl-none" href="/?view=login">
            <i class="fas fa-sign-in-alt" title="Login"></i>
          </a>
        {% endif %}
        <ul class="d-none d-xl-inline-block">
          <li>
            <a class="dope-link select-theme" href="#">
              <i class="fas fa-sun fa-lg" title="Select Theme"></i>
            </a>
          </li>
          {% if user.is_authenticated %}
            <li>
              <a class="dope-link settings-link" href="{% url 'settings' %}">
                Settings
              </a>
            </li>
            <li>
              <form class="logout-form" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="dope-link logout-link" type="submit">
                  Logout
                </button>
              </form>
            </li>
          {% else %}
            <li>
              <a class="dope-link login-link" href="/?view=login">
                Login
              </a>
            </li>
            <li>
              <a class="dope-link signup-link" href="/?view=signup">
                Signup
              </a>
            </li>
          {% endif %}
          <li>
            {% include "search-form.min.html" %}
          </li>
        </ul>
      </div>
      <div class="collapse d-xl-none color-1-trans" id="dopebar-collapse">
        <ul>
          <li>
            {% include "search-form.min.html" %}
          </li>
          <li>
            <a class="dope-link select-theme" href="#">
              <i class="fas fa-sun fa-lg" title="Select Theme"></i>
            </a>
          </li>
          <li>
            <a class="dope-link browse-link" href="{% url 'search' %}">
              Browse
            </a>
          </li>
          <li>
            <a class="dope-link charts-link" href="#">
              Charts
            </a>
          </li>
          <li>
            <a class="dope-link last-played-link" href="#">
              Last played
            </a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a class="dope-link subscriptions-link" href="{% url 'subscriptions' %}">
              Subscriptions
            </a>
          </li>
          <li>
            <a class="dope-link playlist-link" href="{% url 'playlist' %}">
              Playlist
            </a>
          </li>
          <li>
            <a class="dope-link settings-link" href="{% url 'settings' %}">
              Settings
            </a>
          </li>
          <li>
            <form class="logout-form" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <button class="dope-link logout-link" type="submit">
                Logout
              </button>
            </form>
          </li>
          {% else %}
          <li>
            <a class="dope-link login-link" href="/?view=login">
              Login
            </a>
          </li>
          <li>
            <a class="dope-link signup-link" href="/?view=signup">
              Signup
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>