{% if errors or message %}
  <div class="row" id="errors">
    <div class="col-12 px-0">
      {% for k, v in errors.items %}
        <div class="dope-buttons color-1">
          <p>
            {{ v }}
          </p>
          <button class="btn-dope" title="OK">
            <span>
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      {% endfor %}
        
      {% if message %}
        <div class="dope-buttons color-1">
          <p>
            {{ message }}
          </p>
          <button class="btn-dope" title="OK">
            <span>
              <i class="fas fa-times"></i>
            </span>
          </button>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}