<div class="container px-0">
  <div class="col-12 col-lg-4 dope-wrapper">
    <ul>
      <li>
        <a class="dopebar-link contact-link" href="{% url 'contact' %}">
          Contact
        </a>
      </li>
      <li>
        <a class="dopebar-link privacy-link" href="{% url 'privacy' %}">
          Privacy
        </a>
      </li>
      <li>
        <a class="dopebar-link terms-link" href="{% url 'terms' %}">
          Terms
        </a>
      </li>
      <li>
        <a class="dopebar-link" href="//www.facebook.com/Dopepod-183565408908728">
          <i class="fab fa-facebook-f" title="Facebook"></i>
        </a>
      </li>
      <li>
        <a class="dopebar-link" href="#">
          <i class="fab fa-twitter" title="Twitter"></i>
        </a>
      </li>      
    </ul>
    <p>
      dopepod does not store any copyrighted files on its server. We only index and link to content provided by other sites.
    </p>
    <p>
      <strong>
        dopepod 2018
      </strong>
    </p>
  </div>
</div>