{% if results.languages %}
  {% with results.languages as languages %}
    <h1>{{ languages.count }} languages</h1>  
    <div class="slick">
      {% for language in languages %}
        <div class="slick-slide">
          <a class="slick-item browse-link" href="/search/?language={{ language.url_format }}&view=grid">
            <h1>
              <strong>
                {{ language }}
              </strong>
            </h1>
            <p>
              {{ language.n_podcasts }} podcasts
            </p>
          </a>
        </div>
      {% endfor %}      
    </div>
  {% endwith%}
{% endif %}