<div class="container" id="multibar">
  <div class="row">
    <!-- SEARCH BAR -->
    <div class="col pr-0">
      {% if podcasts1 %}
        <a class="btn btn-dope active toggle" id="browse-toggle" href="{% url 'browse' %}" data-toggle="collapse" data-target="#browse-collapse" aria-expanded="true" aria-controls="browse-collapse">
          A-Z
        </a>
      {% else %}
        <a class="btn btn-dope active toggle" id="browse-toggle" href="{% url 'browse' %}" data-toggle="collapse" data-target="#browse-collapse" aria-expanded="false" aria-controls="browse-collapse">
          A-Z
        </a>
      {% endif %}
    </div>
    <div class="col-auto pl-0" id="search">
      <form class="form-inline" id="search-form" method="GET" action="{% url 'search' %}">
        <div class="input-group" id="search-field">
          <label for="q" class="sr-only">Search</label>
          {% if selected_q %}
          <input class="form-control" type="text" name="q" id="q"
          type="search" placeholder="Search for podcasts"
          aria-label="Search for podcasts" maxlength="30" autocomplete="off"
          accept-charset="utf-8" value="{{ selected_q }}">
          {% else %}
          <input class="form-control" type="text" name="q" id="q"
          type="search" placeholder="Search for podcasts"
          aria-label="Search for podcasts" maxlength="30" autocomplete="off"
          accept-charset="utf-8">
          {% endif %}
          <button id="search-button" type="submit">
            <span>
              Go
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- BROWSE BAR -->
  {% if podcasts1 %}
  <div class="row collapse show" id="browse-collapse">
  {% else %}
  <div class="row collapse" id="browse-collapse">
  {% endif %}
    <div class="col">
      <form id="browse-form" method="GET" action="{% url 'browse' %}">
        <div class="alphabet-group alphabet-buttons" data-toggle="buttons">
          {% for letter in alphabet %}
            {% if letter == selected_alphabet %}
              <label class="btn btn-dope alphabet-button active">
                <input id="alphabet-{{ letter }}" class="field-button" type="radio" name="alphabet" value="{{ letter }}" checked>
                {{ letter }}
              </label>
            {% else %}
              <label for="alphabet-{{ letter }}" class="btn btn-dope alphabet-button">
                <input id="alphabet-{{ letter }}" class="field-button" type="radio" name="alphabet" value="{{ letter }}">
                {{ letter }}
              </label>
            {% endif %}
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
</div>
