<div class="container" id="multibar">
  <div class="row">
    <!-- SEARCH BAR -->
    <div class="col pr-0">

    </div>
    <div class="col-auto" id="multibar-search">
      {% if podcasts1 %}
        <a class="btn btn-dope active toggle browse-toggle" href="{% url 'browse' %}" data-toggle="collapse" data-target="#browse-collapse" aria-expanded="true" aria-controls="browse-collapse">
          A-Z
        </a>
      {% else %}
        <a class="btn btn-dope active toggle browse-toggle" href="{% url 'browse' %}" data-toggle="collapse" data-target="#browse-collapse" aria-expanded="false" aria-controls="browse-collapse">
          A-Z
        </a>
      {% endif %}
      <form class="form-inline" id="search-form" method="GET" action="{% url 'search' %}">
        <div class="input-group" id="search-field">
          <label for="q" class="sr-only">Search</label>
          {% if selected_q %}
          <input class="form-control" type="text" name="q" id="q"
          type="search" placeholder="Search for podcasts"
          aria-label="Search for podcasts" maxlength="30" autocomplete="off"
          accept-charset="utf-8" value="{{ selected_q }}">
          {% else %}
          <input class="form-control" type="text" name="q" id="q"
          type="search" placeholder="Search for podcasts"
          aria-label="Search for podcasts" maxlength="30" autocomplete="off"
          accept-charset="utf-8">
          {% endif %}
          <button id="search-button" type="submit">
            <span>
              Go
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- BROWSE BAR -->
  {% if search.podcasts1 %}
  <div class="row collapse show" id="browse-collapse">
  {% else %}
  <div class="row collapse" id="browse-collapse">
  {% endif %}
    <div class="col">
      <div class="alphabet-group alphabet-buttons">
        {% for letter in alphabet %}
          <a class="btn btn-dope alphabet-button" href="/browse/?q={{ letter }}" id="alphabet-{{ letter }}">
            {{ letter }}
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
