<div class="col-3 col-md-4">
  <a class="navbar-toggler toggle" href="#" id="navbar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-bars"></i>
  </a>
  <div class="dropdown-menu navbar-dropdown color-2" aria-labelledby="navbar-dropdown">
    <ul class="nav nav-fade d-block">
      <!-- <li>
        <a class="blog-link" href="#">
          Blog
        </a>
      </li> -->
      <li>
        <a class="browse-link" href="{% url 'browse' %}">
          Browse
        </a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="subscriptions-link" href="{% url 'subscriptions' %}">
          Subscriptions
        </a>
      </li>
      <li>
        <a class="settings-link" href="{% url 'settings' %}">
          Settings
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <ul class="nav nav-fade">
    <!-- <li>
      <a class="blog-link d-none d-md-block" href="#">
        Blog
      </a>
    </li> -->
    <li>
      <a class="browse-link d-none d-md-block" href="{% url 'browse' %}">
        Browse
      </a>
    </li>
    {% if user.is_authenticated %}
    <li>
      <a class="subscriptions-link d-none d-md-block" href="{% url 'subscriptions' %}">
        Subscriptions
      </a>
    </li>
    {% endif %}
  </ul>
</div>
<div class="col-6 col-md-4" id="logo" >
  <a class="index-link" href="/">
    <span class="x a">
      d
    </span>
    <span class="x b">
      o
    </span>
    <span class="x c">
      p
    </span>
    <span class="x d">
      e
    </span>
    <span class="x e">
      p
    </span>
    <span class="x f">
      o
    </span>
    <span class="x g">
      d
    </span>
  </a>
</div>
<div class="col-3 col-md-4">
  <ul class="nav nav-fade">
    {% if user.is_authenticated %}
    <li class="ml-auto">
      <a class="settings-link d-none d-md-block" href="{% url 'settings' %}">
        Settings
      </a>
      <a class="ajax-logout d-block d-md-none" href="{% url 'account_logout' %}">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
    <li class="d-none d-md-block">
      <a class="ajax-logout d-none d-md-block" href="{% url 'account_logout' %}">
        Logout
      </a>
    </li>
    {% else %}
    <li class="ml-auto">
      <a class="ajax-login d-none d-md-block" href="/">
        Login
      </a>
    </li>
    <li>
      <a class="ajax-signup d-none d-md-block" href="/?signup=yeah">
        Signup
      </a>
      <a class="ajax-login d-block d-md-none" href="/">
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
