<div class="row">
  <div class="col-12 col-lg-4 dope-wrapper">
    {% if results.view == "reset_password" %}
      {% if errors.general %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new
        <a class="password-link"
          href="/?view=password">password reset</a>.</p>
      {% else %}
        {% if errors %}
          <div class="errors">
            {% include "errors.min.html" %}
          </div>
        {% endif %}
        <p>
          Please enter a new password.
        </p>
        <form class="password-reset-form" method="POST" action="{% url 'password_reset_from_key' uidb36=uidb36 key=key %}">
          {% csrf_token %}
          <div class="dope-form-group">
            <label class="sr-only" for="reset-password1">Password</label>
            <input class="dope-field" type="password" name="password1" placeholder="Password" required id="reset-password1">
          </div>
          <div class="form-row">
            <div class="col dope-form-group">
              <label class="sr-only" for="reset-password2">Password (again)</label>
              <input class="dope-field" type="password" name="password2" placeholder="Password (again)" required="" id="reset-password2">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn-dope active">Reset</button>
            </div>
          </div>
        </form>
      {% endif %}
    {% elif results.view == "password_reset" %}
      <p>Your password is now changed.</p>
      <p>
        <a class="login-link" href="/?view=login">
          Login
        </a>
      </p>        
    {% elif results.view == "confirm_email" %}
      <p>Your email is now confirmed.</p>
      <p>
        <a class="login-link" href="/?view=login">
          Login
        </a>
      </p>
    {% endif %}
  </div>
</div>
