<div class="row" id="splash">
  <div class="col-12 col-sm-6 "id="splash-top">
    <h4>
      Search for and listen to thousands of free podcasts on<br /><strong>dopepod</strong>
    </h4>
  </div>
  <div class="col-12 col-sm-6" id="splash-bottom">
    <h5>
      <a class="ajax-login" href="{% url 'account_login' %}">
        Login
      </a>
      or
      <a class="ajax-register" href="{% url 'account_signup' %}">
        Register
      </a>
      now to subscribe to podcasts
    </h5>
  </div>
</div>
