{% if results.view == "splash" %}
  {% if errors or message %}
    {% include "errors.min.html" %}
  {% endif %}
  <div class="row">
    <div class="col-12" id="splash">
      <div class="collapse fade login-collapse{% if not view %} show{% endif %}" id="splash-collapse">
        <div class="dope-wrapper">
          <h1>
            Listen
          </h1>
          {% with listen as results %}
            {% include "listen.min.html" %}
          {% endwith %}
        </div>
      </div>
      <div class="collapse fade login-collapse{% if view == 'login' %} show{% endif %}" id="login-collapse">
        <div class="dope-wrapper">
          <h1>
            Login
          </h1>
          <form class="login-form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 dope-form-group">
                <label for="login-login">Email</label>
                <input class="dope-field" type="text" name="login" required id="login-login" value="{{ email }}" />
              </div>
              <div class="col-12 dope-form-group">
                <label for="login-password">Password</label>
              </div>
              <div class="col dope-form-group">
                <input class="dope-field" type="password" name="password" required id="login-password" />
              </div>
              <div class="col-auto">
                <button class="btn-dope" type="submit" title="Login">
                  <span class="active">
                    Login
                  </span>
                  <span>
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                </button>
              </div>
            </div>
            <div class="form-row">
              <div class="col-6 px-0">
                <a class="password-link" href="/?view=password">
                  Forgot Password?
                </a>
              </div>
              <div class="col-6 px-0">
                <label class="dope-check-label">
                  <input class="dope-check" type="checkbox" name="remember" id="remember">
                  <span>
                  </span>
                  <p>
                    Remember me
                  </p>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="collapse fade login-collapse{% if view == 'signup' %} show{% endif %}" id="signup-collapse">
        <div class="dope-wrapper">
          <h1>
            Signup
          </h1>
          <form class="signup-form" method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 dope-form-group">
                <label for="signup-email">Email</label>
                <input class="dope-field" type="email" name="email" size="30" required id="signup-email" />
              </div>
              <div class="col-12 dope-form-group">
                <label for="signup-password1">Password</label>
                <input class="dope-field" type="password" name="password1" required id="signup-password1" />
              </div>
              <div class="col-12 dope-form-group">
                <label for="signup-password2">Password (again)</label>
              </div>
              <div class="col dope-form-group">
                <input class="dope-field" type="password" name="password2" required id="signup-password2" />
              </div>
              <div class="col-auto">
                <button class="btn-dope" type="submit" title="Signup">
                  <span class="active">
                    Signup
                  </span>
                  <span>
                    <i class="fas fa-user-plus"></i>
                  </span>                 
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="collapse fade login-collapse{% if view == 'password' %} show{% endif %}" id="password-collapse">
        <div class="dope-wrapper">
          <h1>
            Reset password
          </h1>
          <p>
            Forgot your password? Enter your email address below, and we'll send you an email with a link allowing you to reset it.
          </p>
          <form class="password-form" method="POST" action="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-12 dope-form-group">
                <label for="forgot-email">Email</label>
              </div>
              <div class="col dope-form-group">
                <input class="dope-field" id="forgot-email" type="email" name="email" size="30" required />
              </div>
              <div class="col-auto">
                <button class="btn-dope" type="submit" title="Send">
                  <span class="active">
                    Send
                  </span>
                  <span>
                    <i class="far fa-envelope"></i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row color-3">
    <div class="col-12 col-lg-4 order-lg-2">
      <div class="dope-wrapper">
        <p>
          Login or signup for an account now.
          <br />
          Subscribe to all your favorite podcasts.
          <br />
          Create a personal playlist.
        </p>
        <div class="dope-buttons dope-buttons-c">
          <a class="btn-dope login-link" href="/?view=login" data-target="#login-collapse" data-toggle="collapse" aria-expanded="{% if view == 'login' %}true{% else %}false{% endif %}"
            aria-controls="login-collapse" title="Login">
            <span class="active">
              Login
            </span>
            <span class="exp-icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
          </a>
          <a class="btn-dope signup-link" href="/?view=signup" data-target="#signup-collapse" data-toggle="collapse" aria-expanded="{% if view == 'signup' %}true{% else %}false{% endif %}"
            aria-controls="signup-collapse" title="Signup">
            <span class="active">
              Signup
            </span>
            <span class="exp-icon">
              <i class="fas fa-user-plus"></i>
            </span>
          </a>
        </div>
        <div class="dope-buttons dope-buttons-c">
          <a class="privacy-link" href="{% url 'privacy' %}">
            Privacy
          </a>
          ●
          <a class="terms-link" href="{% url 'terms' %}">
            Terms
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 order-lg-1">
      <div class="dope-wrapper">
        <p>Sign in with a social media account.</p>
        {% include "social-login.min.html" %}
      </div>
    </div>
    <div class="col-12 col-lg-4 order-lg-3">
      <div class="dope-wrapper">
        <p>
          Activate a temporary user account.
          <br />
          Try out all the features.
        </p>
        <form class="tryout-form" method="POST" action="{% url 'tryout' %}">
          {% csrf_token %}
          <div class="dope-buttons dope-buttons-c">
            <button type="submit" class="btn-dope">
              <span class="active">
                Activate
              </span>
              <span>
                <i class="fas fa-check"></i>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% elif results.view == "dashboard" %}
  {% if errors or message %}
    {% include "errors.min.html" %}
  {% endif %}
  <div class="row">
    <div class="col-12 col-lg-6">
      <a class="dash-wrapper subscriptions-link" href="{% url 'subscriptions' %}">
        <h1>
          Subscriptions
        </h1>
        <p>
          {{ results.subscriptions_count }}/50
        </p>
      </a>
    </div>
    <div class="col-12 col-lg-6">
      <a class="dash-wrapper playlist-link" href="{% url 'playlist' %}">
        <h1>
          Playlist
        </h1>
        <p>
          {{ results.playlist_count }}/20
        </p>
      </a>
    </div>
  </div>
{% endif %}