{% extends extend|yesno:'base.html,ajax.html' %}

{% block title %}
dopepod
{% endblock %}

{% block center-stage %}
<div class="row">
  <div class="col col-lg-8 offset-lg-2" id="login">
    <h5>
      Search for and listen to thousands of free podcasts on <strong>dopepod</strong>
    </h5>
    <div class="nav" id="login-buttons" role="tablist">
      {% if signup %}
        <a class="btn btn-dope login-toggle" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="false">
          Login
        </a>
        <a class="btn btn-dope active login-toggle" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="true">
          Signup
        </a>
      {% else %}
        <a class="btn btn-dope active login-toggle" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">
          Login
        </a>
        <a class="btn btn-dope login-toggle" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false">
          Signup
        </a>
      {% endif %}
      <a class="d-none" id="pills-password-tab" data-toggle="pill" href="#pills-password" role="tab" aria-controls="pills-password" aria-selected="false">
      </a>
    </div>
    <div id="login-errors">
      {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {% for field in form %}
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    </div>
    <div id="login-wrapper">
      <div class="tab-content" id="pills-tabContent">
        {% if signup %}
          <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
            <form class="login-form" method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="login-form-group">
                <label class="sr-only" for="login-login">Email</label>
                <input class="form-control login-field" type="text" name="login" placeholder="Email" autofocus="autofocus" required="" id="login-login">
              </div>
              <div class="form-row">
                <div class="col login-form-group">
                  <label class="sr-only" for="login-password">Password</label>
                  <input class="form-control login-field" type="password" name="password" placeholder="Password" required="" id="login-password">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-dope active login-button">Login</button>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <a class="password-link login-toggle" href="/?x=z">
                    Forgot Password?
                  </a>
                </div>
                <div class="col form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" id="remember">
                    Remember me
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade show active" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
            <form class="signup-form" method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="login-form-group">
                <label class="sr-only" for="signup-email">Email</label>
                <input class="form-control login-field" type="email" name="email" placeholder="Email" required="" id="signup-email">
              </div>
              <div class="login-form-group">
                <label class="sr-only" for="signup-password1">Password</label>
                <input class="form-control login-field" type="password" name="password1" placeholder="Password" required="" id="signup-password1">
              </div>
              <div class="form-row">
                <div class="col login-form-group">
                  <label class="sr-only" for="signup-password">Password (again)</label>
                  <input class="form-control login-field" type="password" name="password2" placeholder="Password (again)" required="" id="signup-password2">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-dope active login-button">Signup</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
            {% if user.is_authenticated %}
            <p>
              Already logged in, dummy
            </p>
            {% endif %}
            <p>
              Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.
            </p>
            <form method="POST" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <input type="email" name="email" size="30" placeholder="Email" required="" id="forgot-email">
              <input class="btn btn-dope" type="submit" value="Reset my password" />
            </form>
          </div>
        {% else %}
          <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
            <form class="login-form" method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="login-form-group">
                <label class="sr-only" for="login-login">Email</label>
                <input class="form-control login-field" type="text" name="login" placeholder="Email" autofocus="autofocus" required="" id="login-login">
              </div>
              <div class="form-row">
                <div class="col login-form-group">
                  <label class="sr-only" for="login-password">Password</label>
                  <input class="form-control login-field" type="password" name="password" placeholder="Password" required="" id="login-password">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-dope active login-button">Login</button>
                </div>
              </div>
              <div class="form-row">
                <div class="col">
                  <a class="password-link login-toggle" href="/?x=z">
                    Forgot Password?
                  </a>
                </div>
                <div class="col form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" id="remember">
                    Remember me
                  </label>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
            <form class="signup-form" method="POST" action="{% url 'signup' %}">
              {% csrf_token %}
              <div class="login-form-group">
                <label class="sr-only" for="signup-email">Email</label>
                <input class="form-control login-field" type="email" name="email" placeholder="Email" required="" id="signup-email">
              </div>
              <div class="login-form-group">
                <label class="sr-only" for="signup-password1">Password</label>
                <input class="form-control login-field" type="password" name="password1" placeholder="Password" required="" id="signup-password1">
              </div>
              <div class="form-row">
                <div class="col login-form-group">
                  <label class="sr-only" for="signup-password2">Password (again)</label>
                  <input class="form-control login-field" type="password" name="password2" placeholder="Password (again)" required="" id="signup-password2">
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-dope active signup-button">Signup</button>
                </div>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
            <p>
              Forgot your password? Enter your email address below, and we'll send you an email allowing you to reset it.
            </p>
            <form class="password-form" method="POST" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <div class="form-row">
                <div class="col login-form-group">
                  <label class="sr-only" for="forgot-email">Email</label>
                  <input class="form-control login-field" id="forgot-email" type="email" name="email" size="30" placeholder="Email" required="">
                </div>
                <div class="col-auto">
                  <button class="btn btn-dope active password-button" type="submit">
                    Reset
                  </button>
                </div>
              </div>
            </form>
        </div>
        {% endif %}
      </div>
    </div>
    <a class="btn btn-dope socialaccount_provider google social-link" href="/account/google/login/?process=login" title="Google">
      <i class="fab fa-google"></i> Sign in with Google
    </a>
    <a class="btn btn-dope socialaccount_provider google social-link" href="/account/facebook/login/?process=login" title="Facebook">
      <i class="fab fa-facebook"></i> Sign in with Facebook
    </a>
    <!-- <a title="Reddit" class="socialaccount_provider reddit" href="/account/reddit/login/?process=login">
      <i class="fab fa-reddit"></i>
    </a> -->
    <!-- <a title="Github" class="socialaccount_provider github" href="/account/github/login/?process=login">
    <i class="fab fa-github"></i>
    </a> -->
  </div>
</div>
{% endblock %}
