@keyframes fadeIn {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

@keyframes moveLeft {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px); /** Chrome & Safari **/
    -o-transform: translateX(-20px); /** Opera **/
    -moz-transform: translateX(-20px); /** Firefox **/
  }
}

@-webkit-keyframes moveLeft {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px); /** Chrome & Safari **/
    -o-transform: translateX(-20px); /** Opera **/
    -moz-transform: translateX(-20px); /** Firefox **/
  }
}

@keyframes moveRight {
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
    transform: translateX(20px);
    -webkit-transform: translateX(20px); /** Chrome & Safari **/
    -o-transform: translateX(20px); /** Opera **/
    -moz-transform: translateX(20px); /** Firefox **/
  }
}

@-webkit-keyframes moveRight {
  0% {
    color: rgba(0, 0, 0, 0);
    transform: translateX(20px);
    -webkit-transform: translateX(20px); /** Chrome & Safari **/
    -o-transform: translateX(20px); /** Opera **/
    -moz-transform: translateX(20px); /** Firefox **/
  }
  100% {
    color: rgba(0, 0, 0, 1);
    transform: translateX(0px);
    -webkit-transform: translateX(0px); /** Chrome & Safari **/
    -o-transform: translateX(0px); /** Opera **/
    -moz-transform: translateX(0px); /** Firefox **/
  }
}

.x {
  /* top: 10px; */
  /* position: absolute;   */
  color: rgba(0, 0, 0, 0);
}

.a {
  /* left: 20px; */
  animation: moveLeft 2s ease-in 6s forwards;
  -webkit-animation: moveLeft 2s ease-in 6s forwards;
}

.b {
  /* left: 20px; */
  animation: moveLeft 2s ease-in 4s forwards;
  -webkit-animation: moveLeft 2s ease-in 4s forwards;
}

.c {
  /* left: 20px; */
  animation: moveLeft 2s ease-in 2s forwards;
  -webkit-animation: moveLeft 2s ease-in 2s forwards;
}

.d {
  animation: fadeIn 2s ease-in forwards;
  -webkit-animation: fadeIn 2s ease-in forwards;
}

.e {
  /* right: 20px; */
  animation: moveRight 2s ease-in 2s forwards;
  -webkit-animation: moveRight 2s ease-in 2s forwards;
}

.f {
  /* right: 40px; */
  animation: moveRight 2s ease-in 4s forwards;
  -webkit-animation: moveRight 2s ease-in 4s forwards;
}


.g {
  /* right: 20px; */
  animation: moveRight 2s ease-in 6s forwards;
  -webkit-animation: moveRight 2s ease-in 6s forwards;
}

#logo {
}

#brand {
  text-align: center;
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

body {
  background: rgba(255, 255, 255, 1);
}

.texture {
  background: url("grid.png");
}

.btn-outline-primary {
  color: #000;
  background-color: #fff;
  border-color: rgba(76,222,181,1);
}

.btn-outline-primary.active, .btn-outline-primary:hover {
  color: #fff;
  background-color: rgba(76,222,181,1);
  border-color: rgba(76,222,181,1);
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 3px rgba(76,222,181,.5);
}

.color {
  background: rgba(76,222,181,1);
  background: -moz-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,222,181,1)), color-stop(100%, rgba(145,194,186,1)));
  background: -webkit-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -o-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: linear-gradient(to right, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdeb5', endColorstr='#91c2ba', GradientType=1 );
}

#nav-bar {
  padding: 0px;
  background: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  z-index: 99;
}

.nav-fade li {
  padding: 8px 8px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.nav-fade li:hover {
  background: #ddd;
}

#main-content {
  background-color: #FFFFFF;
}

#main {
  padding: 15px;
  min-height: 100vh;
}

.options-group {
  padding: 8px;
  background-color: #eee;
}

.options-button {
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.options-button.active, .options-button:hover {
  background: #ddd;
}

/* MULTI BAR */
#multi-bar {
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}
#multi-bar-scroll {
  margin-top: 56px;
  z-index: 95;
}
#options {
}
#options-bar {
}
#options-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
#search-bar {

}
#browse-bar {

}

#flap {
  background-color: #fff;
  top: 0px;
  z-index: 75;
  /* background: url("space.jpg"); */
}

#stage.open {
  height: 500px;
  padding-top: 56px;
  padding-bottom: 14px;
  margin-bottom: -70px;
}

#flap.extended{
  top: -430px;
}

#stage {
  background-color: #E6ECF0;
  z-index: 90;
  overflow: hidden;
}

#search-form {
}
#search-field {
  padding: .75rem 1rem;
}
#search-button {
  position: absolute;
  left: 325px;
  top: 20px;
  z-index: 50;
  background-color: inherit;
  border: 0;
}
#q {
  width: 350px;
  /*border-radius: 22px;*/
  padding: .75rem 1rem;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
}

#alphabet {
  background: #3b6d83;
}
#alphabet-buttons {
 padding: 1rem 1rem;
}
.alphabet-button {
 padding: .5rem .75rem;
}

.dropdown-menu {
  min-width: 0;
}

/* PODINFO */
#podinfo {
  padding: 15px 0px;
  height: 385px;
  background-color: #fff;
}
#podinfo-bottom {
  height: 45px;
}

#show-episodes {
  background-color: #888;
  text-align: center;
}

#podinfo-image {
  text-align: center;
}

#sub-form {
    padding-top: 15px;
}

.results-row {
  padding: 15px;
}

.results-info {
  text-align: center;
}

#settings {
  height: 430px;
  padding: 25px;
  background: rgba(76,222,181,1);
  background: -moz-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,222,181,1)), color-stop(100%, rgba(145,194,186,1)));
  background: -webkit-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -o-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: linear-gradient(to right, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdeb5', endColorstr='#91c2ba', GradientType=1 );
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: ">>";
}

.navbar-collapse {
  flex-basis: auto;
}

#episodes-wrapper {
  min-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #e6ecf0;
  /*border-radius: 8px;*/
  overflow: hidden;
  /*background-color: #FFFFFF;*/
}
#episodes {

}

#results-wrapper {
  border: 1px solid #e6ecf0;
  /*border-radius: 8px;*/
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2), -1px -1px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2), -1px -1px 2px 2px rgba(0,0,0,0.2);
  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2), -1px -1px 2px 2px rgba(0,0,0,0.2);
}
.result-wrapper {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
.result-box {
  /*-webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);*/
  padding: 4px;
}
.result-image {
  object-fit: cover;
  width: 100%;
  background: transparent url("loading.gif") center no-repeat;
}
.result-title, .result-title:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5;        /* fallback */
  max-height: 3.0;       /* fallback */
}
a, a:hover {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
.result-artist, .result-artist:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5;        /* fallback */
  max-height: 3.0;       /* fallback */
}
.browse-result-title, .browse-result-titlet:hover {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-height: 1;        /* fallback */
  max-height: 2;       /* fallback */
}

#recommendations{
  margin-top: 15px;
  min-height: 0px;
  border: 1px solid black;
}

.sub-box {
  border: 1px solid black;
  margin: 5px;
  color: #000;
}

/* PLAYER */

#overlay {
    background: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
}
.hide {
    display: none;
}

.profile {
  margin-top: 80px;
}

.login {

}
#footer {
  text-align: center;
}
