body {
  color: rgb(46, 46, 46);
  font-size: 14px;
  background: rgb(255, 250, 240);
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  font-family: 'Exo', sans-serif;
  letter-spacing: .025rem;
  vertical-align: text-top;
}
a {
  font-weight: 600;
  color: rgb(0, 191, 165);
}
a:hover {
  color: rgb(0, 105, 92);
  text-decoration: none;
}
.darken {
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  background: #000;
  color: #fff;
}

/* COOKIE BANNER */
.cookie-banner {
  color: rgb(46, 46, 46);
  text-align: center;
  padding: 5px 0;
}
.cookie-banner h1 {
  display: inline-block;
  margin: 0;
  font-size: 16px;
}
.cookie-banner button {
  margin-left: 10px;
}

/* BUTTONS */
.btn-dope {
  position: relative;
  font-size: 16px!important;
  color: inherit;
  border: 2px solid rgb(0, 191, 165);
  min-width: 34px;
  min-height: 34px;
  padding: 3px 6px;
  cursor: pointer;
  font-weight: 600;
  background: inherit;
  border-radius: .25rem;
  text-align: center;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  transition: all .25s ease;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
}
.btn-dope.active,
.reverse-toggle[aria-expanded="false"] {
  color: #fff;
  background: rgb(0, 191, 165);
}
.darken .reverse-toggle[aria-expanded="false"] {
  color: rgb(46, 46, 46);
}
.btn-dope:focus,
.btn-dope:hover,
.episode-header:hover,
.episode-header:focus,
.last-played-toggle:hover,
.last-played-toggle:focus,
.last-played-toggle[aria-expanded="true"],
.toggle[aria-expanded="true"] {
  color: #fff;
  outline: none;
  background: rgb(0, 191, 165);
  -webkit-box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  -moz-box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.scroll-up {
  transform: rotate(180deg);
  z-index: 9001;
  position: fixed;
  top: 55px;
  right: 12px;
  background: rgb(0, 191, 165);
  cursor: pointer;
  line-height: 32px;
  height: 34px;
  width: 34px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid rgb(0, 191, 165);
  color: unset;
  -webkit-box-shadow: rgba(0, 0, 0, .8) 0 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, .8) 0 0px 5px;
  box-shadow: rgba(0, 0, 0, .8) 0 0px 5px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.scroll-up:hover,
.scroll-up:focus {
  color: #fff;
  outline: none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

/* BOOTSTRAP COLLAPSE */
.collapsing {
  -moz-transition: height .1s ease;
  -webkit-transition: height .1s ease;
  -o-transition: height .1s ease;
  transition: height .1s ease;
}

/* COLORS */
.color-1-trans {
  background: rgba(0, 191, 165, .95);
}
.color-2-trans {
  background: rgba(255, 255, 255, .2);
}
.color-3-trans {
  background: rgba(204, 204, 204, .5);
}

/* MAIN */
#main-wrapper {
  padding-top: 44px;
  padding-bottom: 15px;
  min-height: 100vh;
}
#left,
#main,
#right {
  min-height: unset;
  padding: 0 20px;
}

/* OPTIONS BUTTONS */
.options-buttons {
  margin-bottom: 10px;
  border-top: 2px solid rgb(0, 191, 165);
  border-bottom: 2px solid rgb(0, 191, 165);
}
.provider-button {
  width: 110px;
}
.nix-button {
  margin-right: auto;
}

/* DOPEBAR */
#dopebar {
  z-index: 9000;
  padding: 5px 0;
  min-height: 44px;
  -webkit-box-shadow: rgba(0,0,0,.5) 0 2px 3px;
  -moz-box-shadow: rgba(0,0,0,.5) 0 2px 3px;
  box-shadow: rgba(0,0,0,.5) 0 2px 3px;
}
#dopebar-c {
  text-align: center;
}
#dopebar-wrapper {
  padding: 0;
}
#dopebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#dopebar ul li {
  display: inline-block;
  vertical-align: middle;
}
#dopebar-r > * {
  float: right;
}
#dopebar-c h1 {
  font-family: Orbitron;
  line-height: 24px;
  font-size: 28px!important;
  margin: 0;
  text-align: center;
}
#dopebar-collapse {
  padding: 15px 10px 0;
  width: 100%;
}
#dopebar-collapse ul,
#dopebar-collapse ul li {
  margin: 10px 0 0;
}
.lights-toggle {
  margin: 0 5px;
}
#dopebar .lights-toggle:hover {
  color: unset;
}
.lights-toggle.lit {
  color: #fff;
}
.dopebar-link  {
  padding: 5px 6px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  background: none!important;
  border: none;
  color: rgb(46, 46, 46);
  font-size: 16px;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.dopebar-link:hover,
.dopebar-link:focus,
.dopebar-link[aria-expanded="true"] {
  color: #fff;
  outline: none;
}

/* SEARCH */
#search {
  padding: 15px 0;
}
.search-form {
  position: relative;
  font-size: 14px;
}
.search-button {
  cursor: pointer;
  position: absolute;
  font-size: 16px;
  right: 8px;
  top: 2px;
  z-index: 150;
  background-color: inherit;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(0, 191, 165, 0);
  transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
}
.search-button:hover,
.search-button:focus {
  border: 2px solid rgb(0, 191, 165);
  outline: none;
}
.q {
  border-radius: .25rem;
  font-size: 16px;
  margin: 0 5px;
  padding: 5px 30px 3px 8px;
  border: 1px solid rgb(46, 46, 46);
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.q:focus {
  border: 1px solid rgb(46, 46, 46);
  -webkit-box-shadow: inset rgba(0,0,0,.2) -1px -1px 10px, inset rgba(0,0,0,.2) 1px 1px 10px;
  -moz-box-shadow: inset rgba(0,0,0,.2) -1px -1px 10px, inset rgba(0,0,0,.2) 1px 1px 10px;
  box-shadow: inset rgba(0,0,0,.2) -1px -1px 10px, inset rgba(0,0,0,.2) 1px 1px 10px;
  outline: none;
}

/* LOGIN-SIGNUP */
.login-wrapper {
  text-align: center;
  padding: 20px;
  max-width: 320px;
  margin: auto;
}
.login-wrapper h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
.login-wrapper p {
  font-size: 14px;
  margin-bottom: 10px;
}
.login-content {
  margin-top: 15px;
  height: 130px;
}
.login-field {
  background: inherit;
  color: inherit;
  width: 100%;
  padding: 4px 8px;
  border-radius: .25rem;
  border: 2px solid rgb(0, 191, 165);
  margin-bottom: 10px;
}
.login-field:focus {
  outline: 0;
  -webkit-box-shadow: inset rgba(0,0,0,.2) -1px -1px 5px, inset rgba(0,0,0,.2) 1px 1px 5px;
  -moz-box-shadow: inset rgba(0,0,0,.2) -1px -1px 5px, inset rgba(0,0,0,.2) 1px 1px 5px;
  box-shadow: inset rgba(0,0,0,.2) -1px -1px 5px, inset rgba(0,0,0,.2) 1px 1px 5px;
}
.btn-dope-social {
  display: inline-flex;
  padding: 0;
}
.social-button {
  padding: 3px 6px;   /* same as btn-dope */
}
.social-icon {
  padding: 3px 10px;   /* just a lil bit wider */
  background: rgb(0, 191, 165);
  color: #fff;
}
.login-buttons {
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.login-buttons > * {
  margin: 5px 2.5px;
}
.login-buttons button {
  cursor: default;
}

/* DASHBOARD */
.dashboard {
  padding: 10px;
  text-align: center;
}
.dashboard h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.dashboard p {
  font-size: 14px;
  margin-bottom: 10px;
}

/* SETTINGS */
.settings-form {
  width: 100%;
}
.settings h1 {
  font-size: 20px;
}

/* SHOWPOD */
#showpod {
  padding-top: 10px;
}
#showpod-l,
#showpod-c,
#showpod-r,
#dopebar-l,
#dopebar-c,
#dopebar-r,
.browse-results,
.results-header {
  padding: 0 10px;
}
#showpod-l {
  text-align: center;
}
#showpod-l img {
  margin-bottom: 10px;
  border-radius: .25rem;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
#showpod-r ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.showpod-side-list li {
  border-bottom: 2px solid rgb(0, 191, 165);
  margin-bottom: 10px;
}
.showpod-side-list li a {
  color: rgb(0, 191, 165);
}
.showpod-side-list li a:hover {
  color: rgb(0, 105, 92);
}
.showpod-back {
  margin-right: auto;
}
#showpod-c h1 {
  margin: 10px 0;
  font-size: 20px;
}
#showpod-c h2 {
  margin-bottom: 4px;
  font-size: 16px;
}
#showpod-c p {
  margin-bottom: 4px;
}

/* EPISODES */
.episode-content {
  padding: 0 !important;
}
.more-collapse {
  border-bottom: 2px solid rgb(0, 191, 165);
}
.episode-content p {
  margin: 10px 10px 0;
  word-wrap: break-word;
}
.episode-content h1 {
  display: inline-block;
  margin: 10px 10px 0;
  font-size: 16px;
}
.episodes-table {
  table-layout: fixed;
  margin-bottom: 10px;
}
.episodes-table th,
.episodes-table td {
  padding: 5px;
  border: none;
}
.episodes-table thead th {
  border-bottom: 2px solid rgb(0, 191, 165);
}
.episode-header {
  cursor: pointer;
  border-bottom: 2px solid rgb(0, 191, 165);
}
.episodes-table .number {
  width: 45px;
}
.episodes-table .title {
  word-wrap: break-word;
}
.episodes-table .date {
  width: 140px;
}
.episodes-table .size {
  width: 65px;
}
.episodes-table .length {
  width: 65px;
}
.episodes-table .new {
  padding: 0 2px;
  border-radius: .25rem;
  border: 2px solid rgb(0, 191, 165);
}
.episode-buttons {
  justify-content: flex-end;
  padding: 5px 10px 10px 5px;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.episode-buttons > * {
  margin-left: 5px;
  margin-top: 5px;
}

/* RESULTS BASE */
.results {
  margin-top: 15px;
  border-radius: .25rem;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 5px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 5px;
  box-shadow: rgba(0,0,0,.3) 0 0 5px;
  border: 2px solid rgb(0, 191, 165);
  overflow: hidden;
}
.results-bar {
  background: rgb(0, 191, 165);
  padding: 8px 0 10px;
}
.results-header h1 {
  text-align: center;
  font-size: 20px;
  margin: 4px 0;
}
.options-collapse {
  width: 100%;
}
.results-buttons,
.options-buttons,
.showpod-buttons {
  justify-content: flex-end;
}
.results-buttons,
.pages-buttons,
.options-buttons,
.showpod-buttons {
  padding: 10px 10px 5px 5px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.results-buttons > *,
.pages-buttons > *,
.options-buttons > *,
.showpod-buttons > * {
  margin-left: 5px;
  margin-bottom: 5px;
}
.results-back {
  margin-right: 42px;
  float: left;
}
.extra-options,
.player-buttons {
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.extra-options > * {
  margin-left: 5px;
}
.results-content {
  min-height: 0;
}
.results-collapse.show, .view-collapse.show {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* CHARTS */
.charts-box,
.last-played-box,
.subscriptions-box {
  padding: 0 10px 10px;
}
.charts-box a,
.result-box a {
  color: unset;
  font-weight: unset;
}
.charts-result {
  border: 2px solid rgb(0, 191, 165);
}
.charts-result,
.subscriptions-result,
.last-played-result {
  overflow: hidden;
  padding: 10px;
  border-radius: .25rem;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.charts-result:hover {
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.charts-result:hover .charts-rank {
  background: rgb(0, 191,165);
  color: #fff;
  -webkit-box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  -moz-box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  box-shadow: rgba(0,0,0,.8) 0 0px 5px;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.charts-result img {
  margin-left: 5px;
  float: right;
  border-radius: .25rem;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.charts-result table,
.last-played-result table {
  font-size: 12px;
}
.charts-result table tr td,
.last-played-result table tr td {
  padding: 2px 10px 0 0 ;
}
.charts-result table tr td:first-child:before,
.last-played-result table tr td:first-child:before {
  content: "\25CF";
  color: rgb(0, 191,165);
  margin-right: 5px; 
}
.charts-rank {
  float: left;
  margin-right: 10px;
  text-align: center;
  line-height: 32px;
  height: 34px;
  width: 34px;
  font-size: 16px!important;
  font-weight: 600;
  border-radius: 50%;
  border: 2px solid rgb(0, 191, 165);
}
.charts-result h1 {
  font-size: 16px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 3px;
}
.charts-result h2 {
  margin-bottom: 0;
  font-size: 14px;
  overflow: hidden;
  height: 16px;
}

/* LAST PLAYED */
.last-played-result {
  position: relative;
  padding: 10px;
  border-radius: .25rem;
  border: 2px solid rgb(0, 191, 165);
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}
.last-played-buttons {
  padding: 5px 35px 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.last-played-buttons > * {
  margin-right: 5px;
  margin-top: 5px;
}
.last-played-result img {
  border-radius: .25rem;
  float: left;
  margin-right: 5px;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.last-played-result .result-length {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 15px;
  left: 15px;
  color: #fff;
  padding: 0 4px;
  background: rgba(0, 0, 0, .5);
}
.last-played-result h1 {
  font-size: 16px;
  height: 20px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.last-played-result h2 {
  margin-bottom: 4px;
  height: 32px;
  overflow: hidden;
  font-size: 14px;
}
.last-played-result ul {
  font-size: 12px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.last-played-result p {
  word-wrap: break-word;
  margin: 10px 0 0;
}
.last-played-collapse table {
  margin-top: 10px;
}
.last-played-toggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  line-height: 32px;
  height: 34px;
  width: 34px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid rgb(0, 191, 165);
  color: unset;
  background: rgba(0, 0, 0, 0);
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.last-played-toggle[aria-expanded="true"] {
  transform: rotate(-180deg);
}

/* SEARCH RESULTS */
.result-box {
  padding: 5px;
}
.result-box img {
  border-radius: .25rem;
  margin-bottom: 10px;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.result-box img:hover {
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.result-box h1, .result-box h2 {
  word-wrap: break-word;
  font-size: 14px;
  margin-bottom: 5px;
  overflow: hidden;
  height: 32px;
}

/* SUBSCRIPTIONS */
.subscriptions-box img {
  float: left;
  margin-right: 5px;
  border-radius: .25rem;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.subscriptions-box h1 {
  font-size: 16px;
  height: 38px;
  margin-bottom: 4px;
  overflow: hidden;
}
.subscriptions-box p {
  margin-bottom: 4px;
  font-weight: 400;
  overflow: hidden;
}
.subscriptions-result {
  border: 2px solid rgb(0, 191, 165);
}
.subscriptions-result.selected {
  background: rgb(0, 191, 165);
}
.subscriptions-result.selected h1 {
  color: #000;
}
.subscriptions-result.selected h1:hover {
  color: #fff;
}
.subscriptions-buttons {
  justify-content: flex-end;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.subscriptions-buttons > * {
  margin-left: 5px;
}

/* BROWSE RESULTS */
.browse-results ul {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.browse-results ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 0;
}
.browse-results ul li a {
  color: unset;
  display: inline-block;
  border-bottom: 2px solid rgba(0, 191, 165, 0);
}
.browse-results ul li a:hover {
  border-bottom: 2px solid rgb(0, 191, 165);
}

/* PLAYLIST */
.playlist-form {
  display: inherit;
}

/* PLAYER */
#player-wrapper {
  z-index: 1000;
  color: rgb(46, 46, 46);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px 10px 0;
  border: 2px solid rgb(0, 191, 165);
  border-bottom: none;
  border-radius: .25rem .25rem 0 0;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
}
#player-wrapper img {
  float: left;
  margin-right: 5px;
  border-radius: .25rem;
  box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
}
.player-title,
.player-description {
  overflow: hidden;
  margin: 8px 0;
}
.player-title h1 {
  color: rgb(46, 46, 46);
  font-size: 16px;
  display: inline;
  white-space: nowrap;
  font-weight: 600;
}
#player-close-collapse {
  text-align: center;
}
#player-close-collapse p {
  font-size: 16px;
  display: inline-block;
  color: #fff;
  margin: 0 10px 10px 0;
}
.player-buttons > * {
  margin-bottom: 5px;
  margin-left: 5px;
}
.player-title h1:hover,
.player-buttons button[aria-expanded="true"] {
  color: #fff;
}
#player-wrapper p {
  font-weight: 600;
}
.player-episode {
  font-size: 14px;
  margin: 0;
  height: 40px;
  overflow: hidden;
}
.player-date {
  font-size: 12px;
  margin: 5px 0 0; 
}
.player-description {
  max-height: 250px;
  max-height: calc(100vh - 350px);
  overflow-y: auto;
}
#player-wrapper.minimize {
  bottom: -65px;
}
#player-wrapper audio {
  display: block;
  margin: 8px 0;
}

/* LOADERS */
.circle-loading {
  position: relative;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  width: 80px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: spin 1.5s ease-in-out .25s infinite;
  -webkit-animation: spin 1.5s ease-in-out .25s infinite;
}
.circle-loading .char {
  left: 27px;
  top: -19px;
  position: absolute;
  width: 24px;
  transform-origin: bottom center;
}
.char-2 {
  transform: rotate(60deg);
}
.char-3 {
  transform: rotate(120deg);
}
.char-4 {
  transform: rotate(180deg);
}
.char-5 {
  transform: rotate(240deg);
}
.char-6 {
  transform: rotate(300deg);
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.button-loading {
  position: relative;
  background: inherit;
  height: 22px;
  width: 57px;
}
.loading-a-1 {
  left: 0;
  animation: fade 2s ease-in .45s infinite;
  -webkit-animation: fade 2s ease-in .45s infinite;
}
.loading-a-2 {
  left: 8px;
  animation: fade 2s ease-in .3s infinite;
  -webkit-animation: fade 2s ease-in .3s infinite;
}
.loading-a-3 {
  left: 16px;
  animation: fade 2s ease-in .15s infinite;
  -webkit-animation: fade 2s ease-in .15s infinite;
}
.loading-a-4 {
  left: 24px;
  animation: fade 2s ease-in infinite;
  -webkit-animation: fade 2s ease-in infinite;
}
.loading-a-5 {
  left: 32px;
  animation: fade 2s ease-in .15s infinite;
  -webkit-animation: fade 2s ease-in .15s infinite;
}
.loading-a-6 {
  left: 40px;
  animation: fade 2s ease-in .3s infinite;
  -webkit-animation: fade 2s ease-in .3s infinite;
}
.loading-a-7 {
  left: 48px;
  animation: fade 2s ease-in .45s infinite;
  -webkit-animation: fade 2s ease-in .45s infinite;
}
.loading-b-1 {
  left: 0;
  animation: fade 2s ease-in 1.45s infinite;
  -webkit-animation: fade 2s ease-in 1.45s infinite;
}
.loading-b-2 {
  left: 8px;
  animation: fade 2s ease-in 1.3s infinite;
  -webkit-animation: fade 2s ease-in 1.3s infinite;
}
.loading-b-3 {
  left: 16px;
  animation: fade 2s ease-in 1.15s infinite;
  -webkit-animation: fade 2s ease-in 1.15s infinite;
}
.loading-b-4 {
  left: 24px;
  animation: fade 2s ease-in 1s infinite;
  -webkit-animation: fade 2s ease-in 1s infinite;
}
.loading-b-5 {
  left: 32px;
  animation: fade 2s ease-in 1.15s infinite;
  -webkit-animation: fade 2s ease-in 1.15s infinite;
}
.loading-b-6 {
  left: 40px;
  animation: fade 2s ease-in 1.3s infinite;
  -webkit-animation: fade 2s ease-in 1.3s infinite;
}
.loading-b-7 {
  left: 48px;
  animation: fade 2s ease-in 1.45s infinite;
  -webkit-animation: fade 2s ease-in 1.45s infinite;
}
.loading-a {
  position: absolute;
  opacity: 0;
}
.loading-b {
  position: absolute;
  opacity: 0;
}
@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}

/* MEDIA QUERIES */
/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .episodes-table .number {
    width: 35px;
  }
  .episodes-table .date {
    width: 60px;
  }
  .episodes-table .size,
  .episodes-table .length {
    width: 50px;
  }
  #player-wrapper {
    border-radius: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 13px;
  }
  .episodes-table .number {
    width: 40px;
  }
  .episodes-table .date {
    width: 65px;
  }
  .episodes-table .size,
  .episodes-table .length {
    width: 55px;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
}
/* XXL */
@media screen and (min-width: 1400px) {
}
