@keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
  }
}

@keyframes moveLeft {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px); /** Chrome & Safari **/
    -o-transform: translateX(-20px); /** Opera **/
    -moz-transform: translateX(-20px); /** Firefox **/
  }
}

@-webkit-keyframes moveLeft {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px); /** Chrome & Safari **/
    -o-transform: translateX(-20px); /** Opera **/
    -moz-transform: translateX(-20px); /** Firefox **/
  }
}

@keyframes moveRight {
  0% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    transform: translateX(20px);
    -webkit-transform: translateX(20px); /** Chrome & Safari **/
    -o-transform: translateX(20px); /** Opera **/
    -moz-transform: translateX(20px); /** Firefox **/
  }
}

@-webkit-keyframes moveRight {
  0% {
    color: rgba(255, 255, 255, 0);
    transform: translateX(20px);
    -webkit-transform: translateX(20px); /** Chrome & Safari **/
    -o-transform: translateX(20px); /** Opera **/
    -moz-transform: translateX(20px); /** Firefox **/
  }
  100% {
    color: rgba(255, 255, 255, 1);
    transform: translateX(0px);
    -webkit-transform: translateX(0px); /** Chrome & Safari **/
    -o-transform: translateX(0px); /** Opera **/
    -moz-transform: translateX(0px); /** Firefox **/
  }
}

.x {
  /* top: 10px; */
  /* position: absolute;   */
  color: rgba(255, 255, 255, 0);
}

.a {
  /* left: 20px; */
  animation: moveLeft 1s ease-in 3s forwards;
  -webkit-animation: moveLeft 1s ease-in 3s forwards;
}

.b {
  /* left: 20px; */
  animation: moveLeft 1s ease-in 2s forwards;
  -webkit-animation: moveLeft 1s ease-in 2s forwards;
}

.c {
  /* left: 20px; */
  animation: moveLeft 1s ease-in 1s forwards;
  -webkit-animation: moveLeft 1s ease-in 1s forwards;
}

.d {
  animation: fadeIn 1s ease-in forwards;
  -webkit-animation: fadeIn 1s ease-in forwards;
}

.e {
  /* right: 20px; */
  animation: moveRight 1s ease-in 1s forwards;
  -webkit-animation: moveRight 1s ease-in 1s forwards;
}

.f {
  /* right: 40px; */
  animation: moveRight 1s ease-in 2s forwards;
  -webkit-animation: moveRight 1s ease-in 2s forwards;
}

.g {
  /* right: 20px; */
  animation: moveRight 1s ease-in 3s forwards;
  -webkit-animation: moveRight 1s ease-in 3s forwards;
}

#logo {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 2px;
  padding-bottom: 8px;
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 13px;
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 14px;
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.42857143;
  color: #2e2e2e;
  background: rgba(255, 255, 255, 1);
}

.btn-outline-primary {
  color: #000;
  background-color: #fff;
  border-color: rgba(76,222,181,1);
  padding: .5rem .5rem;
}
.btn-outline-primary.active, .btn-outline-primary:hover {
  color: #fff;
  background-color: rgba(76,222,181,1);
  border-color: rgba(76,222,181,1);
}
.btn-outline-primary:focus {
  box-shadow: none;
}

.color {
  background: rgba(76,222,181,1);
  background: -moz-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,222,181,1)), color-stop(100%, rgba(145,194,186,1)));
  background: -webkit-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -o-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: -ms-linear-gradient(left, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  background: linear-gradient(to right, rgba(76,222,181,1) 0%, rgba(145,194,186,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cdeb5', endColorstr='#91c2ba', GradientType=1 );
}

#navbar-drop {
  padding: 0;
}
#navbar a:hover {
  color: #000;
  text-decoration: none;
}
#navbar {
  padding: 0px;
  background: rgba(50, 50, 50, 1);
  -webkit-box-shadow: rgba(0,0,0,.5) 0 2px 3px;
  -moz-box-shadow: rgba(0,0,0,.5) 0 2px 3px;
  box-shadow: rgba(0,0,0,.5) 0 2px 3px;
  z-index: 99;
}
.navbar-dropdown {
  background: rgba(50, 50, 50, 1);
  min-width: 0;
}

.nav-link {
  padding: 10px;
}
.nav-fade li {
  border-radius: .25rem;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
#multibar .nav-fade li {
  margin-top: 3px;
  margin-bottom: 3px;
}
#navbar .nav-fade li:hover {
  color: rgba(0, 0, 0, 1);
  background: #ddd;
}
#multibar .nav-fade li:hover {
  background: #ddd;
}
#navbar .nav-link {
  color: rgba(255, 255, 255, 1);
}
#navbar .nav-link:hover {
  color: rgba(0, 0, 0, 1);
}

#main {
  padding: 15px;
  min-height: 100vh;
}

.options-group {
  background-color: #eee;
}
.options-button.active, .options-button:hover {
  background: #ddd;
}
.btn {
  font-size: inherit;
}
.options-button {
  border: 1px solid #ddd;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
#button-field {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-top: 8px;
  padding-left: 8px;
}
.field-button {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}
#alphabet-buttons {
  background: inherit;
}
.alphabet-button {
 padding: .5rem .8rem;
 margin-bottom: 4px;
 margin-right: 4px;
}

/* MULTI BAR */
#multibar {

}
#multibar-scroll {
  margin-top: 44px;
  z-index: 95;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  background: rgba(76,222,181,1);
  background: -moz-linear-gradient(left, rgba(76,222,181,.8) 0%, rgba(145,194,186,.8) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,222,181,.8)), color-stop(100%, rgba(145,194,186,.8)));
  background: -webkit-linear-gradient(left, rgba(76,222,181,.8) 0%, rgba(145,194,186,.8) 100%);
  background: -o-linear-gradient(left, rgba(76,222,181,.8) 0%, rgba(145,194,186,.8) 100%);
  background: -ms-linear-gradient(left, rgba(76,222,181,.8) 0%, rgba(145,194,186,.8) 100%);
  background: linear-gradient(to right, rgba(76,222,181,.8) 0%, rgba(145,194,186,.8) 100%);
}

#browse-toggle {
  margin-top: .5rem;
}

#options-list {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

#flap {
  z-index: 75;
}
#flap.extended{
  top: -400px;
}
#stage {
  background-color: #E6ECF0;
  z-index: 90;
  overflow: hidden;
}
#stage.open {
  height: 444px;
  padding-top: 44px;
  margin-bottom: -44px;
}

#search-field {
  padding: .5rem 0 .5rem .5rem;
  width: 250px;
}
#search-button {
  position: absolute;
  left: 220px;
  top: 13px;
  z-index: 50;
  background-color: inherit;
  border: 0;
  transition: color 1s ease-in-out;
  -moz-transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
}
#search-button:focus {
  outline: 1px #fff;
}
#search-button:hover {
  color: #ddd;
}
#q {
  border-radius: .25rem;
  padding: 5px 8px;
  border: 1px solid rgba(0,0,0,.15);
}
#q:focus {
  -webkit-box-shadow: inset rgba(0,0,0,.3) -1px -1px 2px, inset rgba(0,0,0,.3) 1px 1px 2px;
  -moz-box-shadow: inset rgba(0,0,0,.3) -1px -1px 2px, inset rgba(0,0,0,.3) 1px 1px 2px;
  box-shadow: inset rgba(0,0,0,.3) -1px -1px 2px, inset rgba(0,0,0,.3) 1px 1px 2px;
}

#center-stage {
  background-color: #fff;
}

#splash {
}
#splash-top {
  text-align: center;
  padding-top: 30px;
}
#splash-left {
}
#splash-right {
}
#login-signup {
  height: 400px;
}
#login-wrapper {
  background: #ddd;
  padding: 10px;
  width: 300px;
  margin: auto;
}
#signup-wrapper {
  background: #eee;
  padding: 10px;
  width: 250px;
  margin: auto;
}

#dashboard {
  height: 400px;
}
#dashboard-top {
  text-align: center;
  padding: 30px;
  margin: auto;
  background-color: #ddd;
}

#settings {
  height: 400px;
  padding: 15px;
}

/* PODINFO */
#podinfo {
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  padding: 15px;
  height: 400px;
  background-color: #fff;
}
#podinfo-main {
  padding-top: 15px;
  padding-bottom: 0;
  padding-left: 0;
  max-height: 350px;
  overflow: hidden;

}
#podinfo-side {
  padding-top: 15px;
  padding-bottom: 0;
}
#show-episodes {
  background-color: #888;
  text-align: center;
}
#podinfo-side-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
}
#podinfo-side-list li {
  margin-bottom: 4px;
}

#podinfo-copyright {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#podinfo-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#podinfo-description {
}
#episodes-wrapper {
  border: 1px solid #e6ecf0;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
}
.hidden-row {
  padding: 0 !important;
}
.table tbody tr.hover:hover {
  background-color: rgba(0,0,0,.075);
}

.results-wrapper a, .results-wrapper a:hover {
  color: #000;
  text-decoration: none;
}
.results-wrapper {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
}
.results-bar {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.results-list {
  padding: 15px;
}
.result-box {
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
  padding: .25rem;
}
.result-box:hover {
  -webkit-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  -moz-box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  box-shadow: rgba(0,0,0,.3) 0 1px 3px;
  background: #eee;
  padding: .25rem;
}
.result-image {
  object-fit: cover;
  width: 100%;
  background: transparent url("loading.gif") center no-repeat;
}
.result-title, .result-title:hover {
  overflow: hidden;
  max-height: 35px;
  white-space: normal;
}
.result-artist, .result-artist:hover {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.browse-results-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.browse-results-list a {
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* PLAYER */

#overlay {
    background: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
}

#footer {
  text-align: center;
}
