<div class="row">
  {% for podcast in results.podcasts %}
    <div class="col-12 charts-box">
      <div class="charts-result clearfix">
        <a class="showpod-link" data-podid="{{ podcast.podid }}" href="{% url 'showpod' podid=podcast.podid %}" title="{{ podcast.title }}">
          <span class="charts-rank">
            {{ forloop.counter }}
          </span>
          <img class="img-fluid" src="https://dopepod.me/img/{{ podcast.artworkUrl }}100x100bb.jpg"
          onerror="this.src='http://{{ podcast.artworkUrl }}100x100bb.jpg'" />
          <h1>
            <strong>
              {{ podcast.title }}
            </strong>
          </h1>
          <h2>
            by
            <strong>
              {{ podcast.artist }}
            </strong>
          </h2>
          <table>
            <tr>
              <td>
                Genre
              </td>
              <td>
                {{ podcast.get_primary_genre }}
              </td>
            </tr>
            <tr>
              <td>
                Language
              </td>
              <td>
                {{ podcast.language }}
              </td>
            </tr>
            <tr>
              <td>
                Subscribers
              </td>
              <td>
                {{ podcast.get_n_subscribers }}
              </td>
            </tr>
          </table>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
