<div class="col results-content">
  <div class="row">
    {% for podcast in results.podcasts %}
      <div class="col-12 col-lg-6 charts-box">
        <a class="showpod" data-podid="{{ podcast.podid }}" href="{% url 'showpod' podid=podcast.podid %}">
          <div class="charts-result">
            <span class="charts-rank">
              {% if results.selected_genre %}
              {{ podcast.genre_rank }}
              {% else %}
              {{ podcast.global_rank }}
              {% endif %}
            </span>
            <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
            <h1 class="result-title">
              {{ podcast.title }}
            </h1>
            <p class="result-artist">
              <span>by </span>
              {{ podcast.artist }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
