<div class="cookie-banner color-1">
  <div class="col-12 dope-wrapper">
    <button class="btn-dope cookie-banner-close float-left">
      <span>
        <i class="fas fa-check"></i>
      </span>
    </button>
    <button class="btn-dope cookie-banner-close float-right">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
    <h1>This website uses cookies.</h1>
    <p>
      A cookie is a small file used for authenticating and interacting with your browser.
      We only use them to enhance user experience.
    </p>
  </div>
</div>