<div class="cookie-wrapper color-1">
  <div class="dope-wrapper">
    <button onClick="this.parentNode.parentNode.removeChild(this.parentNode);" class="btn-dope float-left" title="Accept">
      <span>
        <i class="fas fa-check"></i>
      </span>
    </button>
    <button onClick="this.parentNode.parentNode.removeChild(this.parentNode);" class="btn-dope float-right" title="Don't Accept">
      <span>
        <i class="fas fa-times"></i>
      </span>
    </button>
    <h1>This website uses cookies.</h1>
    <p>
      A cookie is a small file used for authenticating and interacting with your browser.
      We only use them to enhance user experience.
    </p>
  </div>
</div>