<table class="table" id="episodes-table">
  <thead>
    <tr>
      <th class="number">
        #
      </th>
      <th>
        Title
      </th>
      <th class="date">
        Released
      </th>
      <th class="size">
        Size
      </th>
      <th class="length">
        Length
      </th>
    </tr>
  </thead>
  <tbody>
    {% for episode in episodes %}
      <tr class="hover toggle" data-toggle="collapse" data-target="#more-collapse{{ forloop.counter }}" aria-expanded="false">
        <th scope="row">
          {{ forloop.revcounter }}
        </th>
        <td class="title">
          {{ episode.title }}
          {% if episode.is_new %}
            <span class="new">
              NEW
            </span>
          {% endif %}
        </td>
        <td>
          {{ episode.date }}
        </td>
        <td>
          {% if episode.size %}
            {{ episode.size }}
          {% else %}
            N/A
          {% endif %}
        </td>
        <td>
          {% if episode.length %}
            {{ episode.length }}
          {% else %}
            N/A
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="5" class="hidden-row">
            <div class="collapse more-collapse" id="more-collapse{{ forloop.counter }}">
            <span class="episode-description">
              {% if episode.description %}
                {{ episode.description }}
              {% else %}
                No description
              {% endif %}
            </span>
            <div class="episode-buttons">
              <form class="play d-inline" action="{% url 'play' %}" method="POST" target="_blank">
                {% csrf_token %}
                <input type="hidden" name="signature" value="{{ episode.signature }}" />
                <button class="btn-dope play-button active" type="submit">
                  Play
                </button>
              </form>
              <a class="btn-dope active" href="{{ episode.url }}" title="Download" download>
                Download
              </a>
            </div>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
