<div class="row results-content">
  {% for podcast in results.podcasts %}
  <a class="col-lg-2 col-md-3 col-4 result-box show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
    <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}200x200bb.jpg&w=200&h=200&t=absolute" />
    <h6 class="search-result-title">
      {{ podcast.title }}
    </h6>
    <p class="search-result-artist">
      by {{ podcast.artist }}
    </p>
  </a>
  {% endfor %}
</div>
