{% for episode in results.last_played %}
  <div class="col-12">
    <a class="showpod" data-podid="{{ episode.parent.podid }}" href="{% url 'showpod' podid=episode.parent.podid %}">
      <div class="recommendations-result">
        <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
        <h5 class="result-title">
          {{ episode.title }}
        </h5>
        <h6 class="result-artist">
          <span>by </span>
          {{ episode.artist }}
        </h6>
      </div>
    </a>
  </div>
{% endfor %}
