<div class="col-12 results-pagination">
  <div class="page-buttons">
    {% if results.pagination.start %}
      <a class="btn-dope page-button" href="{{ results.urls.full_url }}&page=1">
        <i class="fas fa-angle-double-left"></i>
      </a>
    {% endif %}
    {% for i in results.pagination.pages %}
      {% if results.pagination.page == i %}
        <a class="btn-dope page-button active" href="{{ results.urls.full_url }}&page={{ i }}">
          {{ i }}
        </a>
      {% else %}
        <a class="btn-dope page-button" href="{{ results.urls.full_url }}&page={{ i }}">
          {{ i }}
        </a>
      {% endif %}
    {% endfor %}
    {% if results.pagination.end %}
      <a class="btn-dope page-button" href="{{ results.urls.full_url }}&page={{ results.podcasts.paginator.num_pages }}">
        <i class="fas fa-angle-double-right"></i>
      </a>
    {% endif %}
  </div>
</div>
