<div class="row color-1-trans shadow-up">
  <div class="container">
    <div class="row" id="player-wrapper">
      <div class="col-auto" id="player-image">
        <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
          <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
        </a>
      </div>
      <div class="col">
        <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
          <h6>
            {{ podcast.title }}
          </h6>
        </a>
        <span>
          {{ title }} | {{ date }}
        </span>
        <br />
        <audio id="audio-el" controls preload="metadata" autoplay>
          <source src="{{ url }}" type="{{ type }}" />
        </audio>
      </div>
      <div id="player-buttons">
        <button type="button" aria-label="Minimize">
          <i class="fas fa-window-minimize"></i>
        </button>
        <button type="button" aria-label="Close">
          <i class="far fa-times-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>
