{% if player.episode %}
<div class="container">
  <div class="row color-5" id="player-wrapper">
  <div class="col" id="player-top">
    <a class="showpod" id="player-image" data-podid="{{ player.episode.parent.podid }}" href="{% url 'showpod' podid=player.episode.parent.podid %}">
      <img class="img-fluid" src="//images.weserv.nl/?url={{ player.episode.parent.artworkUrl }}70x70bb.jpg&w=70&h=70&t=absolute" />
    </a>
    <div id="player-buttons">
    <a class="btn btn-dope player-button" id="player-minimize" href="#" aria-label="Minimize">
      <i class="fas fa-minus-circle icon"></i>
    </a>
    <a class="btn btn-dope player-button" id="player-close" href="#" aria-label="Close">
      <i class="fas fa-times-circle icon"></i>
    </a>
  </div>
    <div id="player-title">
      <span>
        {{ player.episode.parent.title }}
      </span>
    </div>
    <div id="player-date">
      <span>
        {{ player.episode.pubDate }}
      </span>
    </div>
    <div id="player-episode">
      <span>
        {{ player.episode.title }}
      </span>
    </div>
  </div>
  <div class="col-12" id="player-bottom">
    <audio id="audio-el" controls preload="metadata" autoplay>
      <source src="{{ player.episode.url }}"/>
    </audio>
  </div>
</div>
</div>
{% endif %}
