<div class="row">
  {% for episode in results.episodes %}
    <div class="col-12 expandable dope-result{% if forloop.counter|divisibleby:2 %} color-3{% endif %}">
      <a class="showpod-link" data-podid="{{ episode.podcast.podid }}" href="{% url 'showpod' podid=episode.podcast.podid %}" title="{{ episode.podcast.title }}" title="{{ episode.podcast.title }}">
        {% if episode.length %}
          <span class="result-length">{{ episode.length }}</span>
        {% endif %}
        <img class="img-fluid lazyload" data-src="//{{ episode.podcast.artworkUrl }}100x100bb.jpg"
          onerror="this.src='//dopepod.me/img/{{ episode.podcast.artworkUrl }}100x100bb.jpg'" alt="{{ episode.podcast.title }}"
          width="auto" height="auto" />
      </a>
      <button class="dope-toggle exp" data-toggle="collapse" data-target="#previous-collapse{{ forloop.counter }}"
      aria-expanded="false" title="Show More">
        <span class="exp-icon exp-nix">
          <i class="fas fa-ellipsis-v"></i>
        </span>
      </button>
      <h1>
        <a class="showpod-link" data-podid="{{ episode.podcast.podid }}" href="{% url 'showpod' podid=episode.podcast.podid %}" title="{{ episode.podcast.title }}" title="{{ episode.podcast.title }}">
          {{ episode.podcast.title }}
        </a>
      </h1>
      <h2>
        {{ episode.title }}
      </h2>
      <ul class="dope-list">
        <li>
          <span>Released</span>
          {% if episode.pubDate %}
            <span class="date" data-utc="{{ episode.pubDate|date:'U' }}">{{ episode.pubDate|date:"d M Y H:i" }}</span>
          {% else %}
            <span>N/A</span>
          {% endif %}
        </li>
        <li>
          <span>Played</span>
          <span>{{ episode.played_ago }}</span>
        </li>
      </ul>
      <div class="collapse fade previous-collapse" id="previous-collapse{{ forloop.counter }}">
        <ul class="dope-list">
          <li>
            <span>Length</span>
            <span>{% if episode.length %}{{ episode.length }}{% else %}N/A{% endif %}</span>
          </li>
          <li>
            <span>Size</span>
            <span>{% if episode.size %}{{ episode.size }}{% else %}N/A{% endif %}</span>
          </li>
          <li>
            <span>Genre</span>
            <span>{{ episode.podcast.get_primary_genre }}</span>
          </li>
          <li>
            <span>Language</span>
            <span>{{ episode.podcast.language }}</span>
          </li>
          <li>
            <span>Subscribers</span>
            <span>{{ episode.podcast.get_n_subscribers }}</span>
          </li>
        </ul>
        <p>
          Description:
        </p>
        <p>
          {% if episode.description %}
            {{ episode.description }}
          {% else %}
            No description
          {% endif %}
        </p>
      </div>
      <div class="dope-buttons dope-buttons-r px-0">
        <form class="playlist-form" action="{% url 'playlist' %}" method="POST" target="_blank">
          {% csrf_token %}
          <input type="hidden" name="mode" value="play" />
          <input type="hidden" name="signature" value="{{ episode.signature }}" />
          <button class="btn-dope" type="submit" title="Play Episode">
            <span class="active">
              Play
            </span>
            <span>
              <i class="fas fa-play"></i>
            </span>
          </button>
        </form>
        <a class="btn-dope" href="{{ episode.url }}" title="Download Episode" download>
          <span class="active">
            Download
          </span>
          <span>
            <i class="fas fa-download"></i>
          </span>
        </a>
        <a class="btn-dope showpod-link" data-podid="{{ episode.podcast.podid }}" href="{% url 'showpod' podid=episode.podcast.podid %}"
          title="{{ episode.podcast.title }}">
          <span class="active">
            Show
          </span>
          <span>
            <i class="fas fa-bars"></i>
          </span>       
        </a>
        {% if user.is_authenticated %}
          <form class="playlist-form" action="{% url 'playlist' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="mode" value="add" />
            <input type="hidden" name="signature" value="{{ episode.signature }}" />
            <button class="btn-dope" type="submit" title="Add to Playlist">
              <span class="active">
                Add
              </span>
              <span>
                <i class="fas fa-plus"></i>
              </span>
            </button>
          </form>
        {% endif %}
        <button class="btn-dope exp" data-toggle="collapse" data-target="#previous-collapse{{ forloop.counter }}" aria-expanded="false" title="Show More">
          <span class="active">
            More
          </span>
          <span class="exp-icon">
            <i class="fas fa-ellipsis-v"></i>
          </span>
        </button>
      </div>
    </div>
  {% endfor %}
</div>