{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
search
{% endblock %}

{% block content %}
<!-- BUMPER -->
<div class="row" id="bumper">
  <div class="col">
  </div>
</div>
<!-- SEARCH BAR -->
<div class="row">
  <div class="col search-bar" id="search-bar">
    <div class="row texture">
      <div class="col">
        <form id="search-form" method="GET" action="{% url 'search' %}">
          <div class="input-group">
            <input class="form-control" type="text" name="q" id="q" type="search" placeholder="Search for..."
            aria-label="Search for..." autocomplete="off" accept-charset="utf-8">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- SIDE OPTIONS -->
  <div class="col-sm-2" id="search-options">
    <div class="btn-group-vertical btn-group-sm filter-buttons" id="search-genre-buttons" data-toggle="buttons">
      <label class="btn btn-outline-primary filter-button active">
        <input type="radio" name="search-genre" id="All" value="All" checked>All
      </label>
      {% for genre in genres %}
      <label class="btn btn-outline-primary filter-button">
        <input type="radio" name="search-genre" id="{{ genre.name }}" value="{{ genre.name }}">{{ genre.name }}
      </label>
      {% endfor %}
    </div>
    <div class="btn-group-vertical btn-group-sm filter-buttons" id="search-language-buttons" data-toggle="buttons">
      <label class="btn btn-outline-primary filter-button active">
        <input type="radio" name="search-language" id="All" value="All" checked>All
      </label>
      {% for language in languages %}
      <label class="btn btn-outline-primary filter-button">
        <input type="radio" name="search-language" id="{{ language.name }}" value="{{ language.name }}">{{ language.name }}
      </label>
      {% endfor %}
    </div>
    <div class="btn-group-vertical btn-group-sm filter-buttons" id="search-explicit-buttons" data-toggle="buttons">
      <label class="btn btn-outline-primary filter-button active">
        <input type="checkbox" name="search-explicit" checked>Show Explicit
      </label>
    </div>
  </div>
  <!-- MAIN -->
  <div class="col-sm-10" id="main">
    <!-- RESULTS -->
    <div class="row" id="results">
      {% block results %}
      {% endblock %}
    </div>
    <!-- RECOMMENDATIONS -->
    <div class="row" id="recommendations">
    </div>
  </div>
</div>
{% endblock %}
