<div class="row">
  {% with results.podcast as podcast %}
    <div class="col-12 col-lg-4" id="showpod-l">
      <img class="img-fluid" src="//{{ podcast.artworkUrl }}380x380bb.jpg"
      onerror="this.src='//dopepod.me/img/{{ podcast.artworkUrl }}380x380bb.jpg'" alt="{{ podcast.title }}" />
    </div>
    <div class="col-12 col-lg-5" id="showpod-c">
      <h1>
        {{ podcast.title }}
      </h1>
      <h2>
        <span class="by">
          By
        </span>
        {{ podcast.artist }}
      </h2>
      <p>
        {{ podcast.description }}
      </p>
    </div>
    <div class="col-12 col-lg-3" id="showpod-r">
      {% if results.podcast.is_subscribed %}
        <p>
          Subscribed
          <i class="fas fa-check" title="Subscribed"></i>
        </p>
      {% endif %}
      <ul>
        {% if podcast.rank %}
          <li>
            #{{ podcast.rank }} in
            <a class="browse-link" href="/search/">
              Podcasts
            </a>
          </li>
        {% endif %}
        {% if podcast.genre_rank %}
          <li>
            #{{ podcast.genre_rank }} in
            <a class="browse-link" href="/search/?genre={{ podcast.get_primary_genre.url_format }}">
              {{ podcast.get_primary_genre }}
            </a>
          </li>
        {% endif %}
        {% if podcast.language_rank %}
          <li>
            #{{ podcast.language_rank }} in
            <a class="browse-link" href="/search/?language={{ podcast.language.url_format }}">
              {{ podcast.language }}
            </a>
          </li>
        {% endif %}
        <li>
          {{ podcast.get_n_subscribers }} subscribers
        </li>
        <li>
          Content:
          {% if podcast.explicit %}
            explicit
          {% else %}
            clean
          {% endif %}
        </li>
        <li>
          <a class="showpod-podcastUrl" href="{{ podcast.podcastUrl }}">
            Podcast website
          </a>
        </li>
        <li>
          <a class="showpod-feedUrl" href="{{ podcast.feedUrl }}">
            Podcast RSS feed
          </a>
        </li>
        <li>
          <em>
            {{ podcast.copyrighttext }}
          </em>
        </li>
        <li>
          <a class="btn-dope btn-dope-social" href="//twitter.com/intent/tweet?text={{ podcast.url_format_description }}&url={{ podcast.get_absolute_url }}">
            <span class="social-icon">
              <i class="fab fa-twitter" title="Tweet"></i>
            </span>
            <span class="social-button">
              Tweet
            </span>
          </a>
          <a class="btn-dope btn-dope-social" href="//www.facebook.com/sharer/sharer.php?u={{ podcast.get_absolute_url }}">
            <span class="social-icon">
              <i class="fab fa-facebook-f" title="Share"></i>
            </span>
            <span class="social-button">
              Share
            </span>
          </a>    
        </li>
      </ul>
    </div>
  {% endwith %}
</div>
