{% extends request.is_ajax|yesno:'ajax.html,base.html' %}

{% block title %}
Listen to episodes of {{ podcast.title }} on dopepod
{% endblock %}

{% block center-stage %}
<div class="col results color-5-trans">
  <div class="row" id="showpod">
    <div class="col-12 col-lg-4" id="showpod-l">
      <!-- BADGE -->
      <div class="showpod-image">
        <img class="img-fluid" src="//img.dopepod.me/{{ podcast.artworkUrl }}360x360bb.jpg" />
      </div>
    </div>
    <div class="col-12 col-lg-5" id="showpod-c" data-podid="{{ podcast.podid }}">
      <button class="btn-dope back-button" onclick="window.history.back()">
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      {% if user.is_authenticated %}
        <form class="d-inline" id="sub-form" action="{% url 'subscribe' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="podid" value="{{ podcast.podid }}">
          {% if podcast.is_subscribed %}
            <button type="submit" class="btn-dope sub-button">
              Unsubscribe
          {% else %}
            <button type="submit" class="btn-dope active sub-button">
              Subscribe
          {% endif %}
          </button>
        </form>
      {% endif %}
      <h1 id="showpod-title">
        {{ podcast.title }}
      </h1>
      <span id="showpod-artist">
        By
        <h2>
          {{ podcast.artist }}
        </h2>
      </span>
      <p id="showpod-description">
        {{ podcast.description }}
      </p>
    </div>
    <div class="col-12 col-lg-3" id="showpod-r">
      <ul class="showpod-side-list">
        {% if podcast.global_rank %}
          <li>
            <span class="global_rank">
              #{{ podcast.global_rank }} in
              podcasts
            </span>
          </li>
        {% endif %}
        {% if podcast.genre_rank %}
          <li>
            <span class="genre_rank">
              #{{ podcast.genre_rank }} in
              {% if podcast.genre.supergenre %}
                <a class="browse-link" href="/browse/?genre={{ podcast.genre.supergenre.url_format }}">
                  {{ podcast.genre.supergenre }}
                </a>
              {% else %}
                <a class="browse-link" href="/browse/?genre={{ podcast.genre.url_format }}">
                  {{ podcast.genre }}
                </a>
              {% endif %}
            </span>
          </li>
        {% endif %}
        <li>
          <span class="subscriber">
            Subscribers:
          </span>
          <span class="n_subscribers">
            {{ podcast.n_subscribers }}
          </span>
        </li>
        <li>
          <span class="genre">
            Genre:
            {% if podcast.genre.supergenre %}
              <a class="browse-link" href="/browse/?genre={{ podcast.genre.supergenre.url_format }}">
                {{ podcast.genre.supergenre }}
              </a>
            {% else %}
              <a class="browse-link" href="/browse/?genre={{ podcast.genre.url_format }}">
                {{ podcast.genre }}
              </a>
            {% endif %}
          </span>
        </li>
        <li>
          <span class="language">
            Language:
            <a class="browse-link" href="/browse/?language={{ podcast.language.url_format }}">
              {{ podcast.language }}
            </a>
          </span>
        </li>
        <li>
          <span>
            Content:
          </span>
          <span class="showpod-explicit">
            {% if podcast.explicit %}
            explicit
            {% else %}
            clean
            {% endif %}
          </span>
        </li>
        <li>
          <a class="showpod-podcastUrl" href="{{ podcast.podcastUrl }}">
            <span>
              Podcast website
            </span>
          </a>
        </li>
        <li>
          <a class="showpod-feedUrl" href="{{ podcast.feedUrl }}">
            <span>
              Podcast RSS feed
            </span>
          </a>
        </li>
        <li>
          <em>
            <span id="showpod-copyright">
              {{ podcast.copyrighttext }}
            </span>
          </em>
        </li>
      </ul>
      <div class="showpod-options">
        <a class="btn-dope toggle show-episodes" data-toggle="collapse" href="#episodes-collapse" aria-expanded="true" aria-controls="episodes-collapse">
          Episodes
        </a>
        <button class="btn-dope btn-dope-disabled">
          <span>
            Reviews
          </span>
        </button>
      </div>
    </div>
    <div class="col-12 collapse show" id="episodes-collapse">
      {% if results.episodes %}
        {% include 'episodes.html' %}
      {% endif%}
    </div>
  </div>
</div>
{% endblock %}
