<div class="col results-content">
  {% for subscription in results.podcasts %}
    <div class="row">
      {% with subscription.parent as podcast %}
      <div class="col">
        <a class="showpod" data-podid="{{ podcast.podid }}" href="/showpod/{{ podcast.podid }}/">
          <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}100x100bb.jpg&w=100&h=100&t=absolute" />
        </a>
        <a class="showpod" data-podid="{{ podcast.podid }}" href="/showpod/{{ podcast.podid }}/" title="{{ podcast.title }}">
          <h5 class="subscription-result-title">
              {{ podcast.title }}
          </h5>
        </a>
        <a class="showpod" data-podid="{{ podcast.podid }}" href="/showpod/{{ podcast.podid }}/" title="{{ podcast.artist }}">
          <h6 class="subscription-result-artist">
          <span>by </span>
            {{ podcast.artist }}
          </h6>
        </a>
        {% endwith %}
        <p>
          {{ subscription.last_updated }}
        </p>
      </div>
    </div>
  {% endfor %}
</div>
