<div class="col results-content">
  <div class="row">
    {% for subscription in results.podcasts %}
      {% with subscription.podcast as podcast %}
        <div class="col-12 col-md-4 subscriptions-box">
          <a class="showpod" data-podid="{{ podcast.podid }}" href="/showpod/{{ podcast.podid }}/">
            <img class="img-fluid" src="//images.weserv.nl/?url={{ podcast.artworkUrl }}360x360bb.jpg" />
          </a>
          <a class="showpod color-link" data-podid="{{ podcast.podid }}" href="/showpod/{{ podcast.podid }}/">
            <h1 class="result-title">
              {{ podcast.title }}
            </h1>
          </a>
          <p class="last-updated">
            <span>Last updated: </span>
            {{ subscription.last_updated }}
          </p>
          <button class="btn-dope select-subscription" data-podid="{{ podcast.podid }}">
            Select
          </button>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
</div>
