<div class="col">
{% for track in tracks %}
<div class="row">
  <a class="col-sm-9" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}">
    <h6>{{ track.title }}</h6>
  </a>
  <div class="col-sm-3">
    <button class="btn btn-primary play" id="{{ track.url }}" name="{{ track.type }}">Play</button>
    <a class="btn btn-primary" href="{{ track.url }}">Download</a>
  </div>
</div>
<div class="row">
  <div class="collapse" id="collapseExample{{ forloop.counter }}">
    <div class="col">
      <p>{{ track.summary|escape }}</p>
      <p>{{ track.pubDate }}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>

<script type="text/javascript">
$(function () {
    $(".play").click(function() {
    var url = this.id;
    var type = this.name;
    var csrftoken = "{{ csrf_token }}";
    $.ajax({
      method: "POST",
      url: "{% url 'play' %}",
      data: {
        "url": url,
        "type": type,
        "csrfmiddlewaretoken": csrftoken,
      },
      success: function(response) {
        $("#player").hide();
        $("#player").html(response);
        $("#player").fadeIn();
      }
    })
  });
})
</script>
