<div class="col">
{% if tracks %}
  <table>
    <tbody>
    {% for track in tracks %}
      <tr>
        <td>
          <button class="btn btn-primary" data-toggle="collapse" href="#collapseExample{{ forloop.counter }}" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter }}">More</button>
        </td>
        <td style="width:100%;">
          <h6>{{ track.title }}</h6>
        </td>
        <td>
          <a class="btn btn-primary play" id="{{ track.url }}" name="{{ track.type }}" href="{% url 'play' url=track.url %}" target="_blank">
            Play
          </a>
        </td>
        <td>
          <a class="btn btn-primary" href="{{ track.url }}">
            Download
          </a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="row" id="overlay">
  </div>
 {% endif %}
</div>
