<div class="row">
  <div class="col">

<!-- SEARCH BAR -->
    <div class="row">
      <div class="col search-bar" id="search-bar">
        <div class="texture">
          <div class="row">
            <div class="col">
              <form id="search-form" method="GET" action="{% url 'search' %}">
                <div class="input-group">
                  <input class="form-control" type="text" name="q" id="q" type="search" placeholder="Search for..."
                  aria-label="Search for..." autocomplete="off" accept-charset="utf-8">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- RESULTS -->
    <div class="row">
      <div class="col search-results">
        <div class="texture">
          <div class="row" id="results">
            {% block results %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

<!-- RECOMMENDATIONS -->

  <!--
  <div class="row" id="recommendations">
  </div>
  -->
  </div>
</div>
