<div class="row profile">
  <div class="col">
    <h1>My Profile</h1>
    <form class="profile-form" action="{% url 'edit_profile' %}" method="POST">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button type="submit">Save changes</button>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.profile-form').submit(function (event) {
    event.preventDefault();
    var data = $(this).serialize();
    var method = this.method;
    var url = this.action;
    $.ajax({
      data: data,
      method: method,
      url: url,
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(thrownError);
        $("#podinfo").html(xhr.responseJSON.html);
      },
      success: function(response) {
        $(".modal-content").html("");
        $("#modal").modal("hide");
      }
    });
  });
});
</script>
