{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
browse
{% endblock %}

{% block content %}
<!-- MULTI BAR -->
<div class="container" id="multi-bar">
  <form id="browse-form" method="GET" action="{% url 'browse' %}">
    <!-- OPTIONS -->
    <div class="row" id="options">
      <div class="col texture">
        <!-- GENRES -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Genre
          </button>
          <div class="dropdown-menu">
            <div class="btn-group-vertical btn-group filter-buttons" id="search-genre-buttons" data-toggle="buttons">
              {% if selected_genre == 'All' or selected_genre == None %}
                <label class="btn btn-outline-primary filter-button active">
                  <input type="radio" name="genre" id="All" value="All" checked>
                  All
                </label>
              {% else %}
                <label class="btn btn-outline-primary filter-button">
                  <input type="radio" name="genre" id="All" value="All">
                  All
                </label>
              {% endif %}
              {% for genre in genres %}
                {% if genre.name == selected_genre %}
                  <label class="btn btn-outline-primary filter-button active">
                    <input type="radio" name="genre" id="{{ genre.name }}" value="{{ genre.name }}" checked>
                    {{ genre.name }}
                  </label>
                {% else %}
                  <label class="btn btn-outline-primary filter-button">
                    <input type="radio" name="genre" id="{{ genre.name }}" value="{{ genre.name }}">
                    {{ genre.name }}
                  </label>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- LANGUAGES -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
          </button>
          <div class="dropdown-menu">
            <div class="btn-group-vertical btn-group filter-buttons" id="search-language-buttons" data-toggle="buttons">
              {% if selected_language == 'All' or selected_language == None %}
                <label class="btn btn-outline-primary filter-button active">
                  <input type="radio" name="language" id="All" value="All" checked>
                  All
                </label>
              {% else %}
                <label class="btn btn-outline-primary filter-button">
                  <input type="radio" name="language" id="All" value="All">
                  All
                </label>
              {% endif %}
              {% for language in languages %}
                {% if language.name == selected_language %}
                  <label class="btn btn-outline-primary filter-button active">
                    <input type="radio" name="language" id="{{ language.name }}"
                    value="{{ language.name }}" checked>
                    {{ language.name }}
                  </label>
                {% else %}
                  <label class="btn btn-outline-primary filter-button">
                    <input type="radio" name="language" id="{{ language.name }}"
                    value="{{ language.name }}">
                    {{ language.name }}
                  </label>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- SHOW -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            25
          </button>
          <div class="dropdown-menu">
            <div class="btn-group-vertical" id="search-show-buttons" data-toggle="buttons">
              {% for num in show %}
                {% if selected_show == num %}
                  <label class="btn btn-outline-primary show-button active">
                    <input type="radio" name="show" id="{{ num }}"
                    value="{{ num }}" checked>
                    {{ num }}
                  </label>
                {% else %}
                  <label class="btn btn-outline-primary show-button">
                    <input type="radio" name="show" id="{{ num }}"
                    value="{{ num }}">
                    {{ num }}
                  </label>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- EXPLICIT -->
        <div class="btn-group" id="search-explicit-buttons" data-toggle="buttons">
          {% if selected_explicit == True or selected_explicit == None %}
            <label class="btn btn-outline-primary filter-button">
              <input type="checkbox" name="explicit" value="false">
              Hide Explicit
            </label>
            {% else %}
            <label class="btn btn-outline-primary filter-button active">
              <input type="checkbox" name="explicit" value="false" checked>
              Hide Explicit
            </label>
          {% endif %}
        </div>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <!-- MAIN -->
  <div class="row" id="main">
    <div class="col">
      <!-- RESULTS -->
      <div class="row" id="results">
        {% block results %}
        {% endblock %}
      </div>
      <!-- RECOMMENDATIONS -->
      <div class="row" id="recommendations">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(window).ready(function() {
  BrowseFunc();
});
</script>
{% endblock %}
