{% if chart %}
<div class="col" id="results-wrapper">
  <form id="result-form" method="GET" action="{% url 'charts' %}">
    {% include 'optionsbar.html' %}
  </form>
  <div class="row results-row">
    {% if chart %}
      {% for podcast in chart %}
        <div class="col-lg-2 col-md-3 col-sm-4 col-6 result-box">
          <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
            <img class="img-fluid result-image" src="{{ podcast.artworkUrl }}200x200bb.jpg" />
          </a>
          <h6 class="result-title">
            <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.title }}">
              {{ podcast.title }}
            </a>
          </h6>
          <p class="result-artist">
            <span>by </span>
            <a class="show-podinfo" data-itunesid="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}" title="{{ podcast.artist }}">
              {{ podcast.artist }}
            </a>
          </p>
        </div>
      {% endfor %}
    {% else %}
      <div class="col">
        <p>
          No results :p
        </p>
      </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="col" id="results-wrapper">
  {% include 'optionsbar.html' %}
  <p>
    No results :p
  </p>
</div>
{% endif %}
