{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
dopepod
{% endblock %}

{% block content %}
<!-- MULTI BAR -->
<div class="container-fluid sticky-top extended" id="bar">
  <div class="row open" id="stage">
  {% block stage %}
  {% endblock %}
  </div>
  <div class="row" id="multi-bar-scroll">
    {% include 'multibar.html' %}
  </div>
</div>
<!-- MAIN -->
<div class="container"id="main">
  <!-- RESULTS -->
  <div class="row" id="results">
    {% block results %}
    {% endblock %}
    {% include 'episodes.html' %}
  </div>
  <!-- CHARTS -->
  <div class="row" id="charts">
    {% include 'index/charts.html' %}
  </div>
</div>
{% endblock %}
