<div class="col" id="recommendations">
  <div class="row">
    <div class="col">
      <h2>
        Charting
      </h2>
    </div>
  </div>
  <div class="row">
    {% if chart %}
      {% for podcast in chart %}
      <a class="col-lg-2 col-md-3 col-sm-4 col-6 result-box show-podinfo" id="{{ podcast.itunesid }}" href="{% url 'podinfo' itunesid=podcast.itunesid %}">
        <img class="img-fluid result-image" src="{{ podcast.artworkUrl }}200x200bb.jpg" />
        <h6 class="result-title">{{ podcast.title }}</h6>
        <p class="result-genre">
         {% if podcast.genre.supergenre %}
         {{ podcast.genre.supergenre }} -
         {% endif %}
         {{ podcast.genre }}
        </p>
      </a>
      {% endfor %}
    {% else %}
      <div class="col">
        <p>
          No results :p
        </p>
      </div>
    {% endif %}
  </div>
</div>
