{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
search
{% endblock %}

{% block content %}
<!-- BUMPER -->
<div class="row" id="bumper">
  <div class="col">
  </div>
</div>
<!-- SEARCH BAR -->
<form id="search-form" method="GET" action="{% url 'search' %}">
  <div class="row">
    <div class="col search-bar" id="search-bar">
      <div class="row texture">
        <div class="col">
          <div class="input-group">
            {% if selected_q %}
              <input class="form-control" type="text" name="q" id="q"
              type="search" placeholder="Search for..."
              aria-label="Search for..." autocomplete="off"
              accept-charset="utf-8" value="{{ selected_q }}">
            {% else %}
              <input class="form-control" type="text" name="q" id="q"
              type="search" placeholder="Search for..."
              aria-label="Search for..." autocomplete="off"
              accept-charset="utf-8">
            {% endif %}
            <span class="input-group-btn">
              <button class="btn btn-outline-primary" type="submit">
                Go!
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- SIDE OPTIONS -->
    <div class="col-sm-2" id="search-options">
      <div class="btn-group-vertical btn-group-sm filter-buttons"
      id="search-genre-buttons" data-toggle="buttons">
        <!-- GENRES -->
        {% if selected_genre == 'All' or selected_genre == None %}
          <label class="btn btn-outline-primary filter-button active">
            <input type="radio" name="genre" id="All" value="All" checked>
            All
          </label>
        {% else %}
          <label class="btn btn-outline-primary filter-button">
            <input type="radio" name="genre" id="All" value="All">
            All
          </label>
        {% endif %}
        {% for genre in genres %}
          {% if genre.name == selected_genre %}
            <label class="btn btn-outline-primary filter-button active">
              <input type="radio" name="genre" id="{{ genre.name }}"
              value="{{ genre.name }}" checked>
              {{ genre.name }}
            </label>
          {% else %}
            <label class="btn btn-outline-primary filter-button">
              <input type="radio" name="genre" id="{{ genre.name }}"
              value="{{ genre.name }}">
              {{ genre.name }}
            </label>
          {% endif %}
        {% endfor %}
      </div>
      <div class="btn-group-vertical btn-group-sm filter-buttons"
      id="search-language-buttons" data-toggle="buttons">
        <!-- LANGUAGES -->
        {% if selected_language == 'All' or selected_language == None %}
          <label class="btn btn-outline-primary filter-button active">
            <input type="radio" name="language" id="All" value="All" checked>
            All
          </label>
        {% else %}
          <label class="btn btn-outline-primary filter-button">
            <input type="radio" name="language" id="All" value="All">
            All
          </label>
        {% endif %}
        {% for language in languages %}
          {% if language.name == selected_language %}
            <label class="btn btn-outline-primary filter-button active">
              <input type="radio" name="language" id="{{ language.name }}"
              value="{{ language.name }}" checked>
              {{ language.name }}
            </label>
          {% else %}
            <label class="btn btn-outline-primary filter-button">
              <input type="radio" name="language" id="{{ language.name }}"
              value="{{ language.name }}">
              {{ language.name }}
            </label>
          {% endif %}
        {% endfor %}
      </div>
      <div class="btn-group-vertical btn-group-sm filter-buttons"
      id="search-explicit-buttons" data-toggle="buttons">
        <!-- EXPLICIT -->
        {% if selected_explicit == True or selected_explicit == None %}
          <label class="btn btn-outline-primary filter-button">
            <input type="checkbox" name="explicit" value="false">
            Hide Explicit
          </label>
        {% else %}
          <label class="btn btn-outline-primary filter-button active">
            <input type="checkbox" name="explicit" value="false" checked>
            Hide Explicit
          </label>
        {% endif %}
      </div>
    </div>
    <!-- MAIN -->
    <div class="col-sm-10" id="main">
      <!-- RESULTS -->
      <div class="row" id="results">
        {% block results %}
        {% endblock %}
      </div>
      <!-- RECOMMENDATIONS -->
      <div class="row" id="recommendations">
      </div>
    </div>
  </div>
</form>
{% endblock %}
