{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
dopepod
{% endblock %}

{% block content %}
<!-- MULTI BAR -->
<form class="row" id="search-form" method="GET" action="{% url 'search' %}">
{% include 'multibar.html' %}
</form>
<!-- MAIN -->
<div class="row" id="main">
  <div class="col">
    <!-- RESULTS -->
    <div class="row" id="results">
      {% block results %}
      {% endblock %}
    </div>
  </div>
</div>
<!-- RECOMMENDATIONS -->
<div class="row" id="recommendations">
</div>
{% endblock %}
