{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
settings
{% endblock %}

{% block content %}
<!-- SETTINGS -->
<div class="container">
  <form class="row" id="settings-form" action="{% url 'settings' %}" method="POST">
    <div class="col">
      <h5>
        My Profile
      </h5>
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button class="btn btn-primary" type="submit">
        Save changes
      </button>
      <!-- EXPLICIT -->
      {% if selected_explicit == True or selected_explicit == None %}
        <label class="btn btn-outline-primary">
          <input type="checkbox" name="explicit" id="explicit-button" value="false">
          Hide Explicit
        </label>
      {% else %}
        <label class="btn btn-outline-primary active">
          <input type="checkbox" name="explicit" id="explicit-button" value="false" checked>
          Hide Explicit
        </label>
      {% endif %}
        <a class="password-link" href="{% url 'account_reset_password' %}"
        data-toggle="modal" data-target="#modal">
        Reset Password
      </a>
    </form>
  </div>
</div>
{% endblock %}
