{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
settings
{% endblock %}

{% block content %}
<!-- BUMPER -->

<div class="row" id="bumper">
  <div class="col">

  </div>
</div>

<!-- SETTINGS -->

<div class="row">
  <div class="col">
    <h5>My Profile</h5>
  </div>
</div>
<div class="row">
  <div class="col">
    <form class="settings-form" action="{% url 'settings' %}" method="POST">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      <button class="btn btn-primary" type="submit">Save changes</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="password-link" href="{% url 'account_reset_password' %}" data-toggle="modal" data-target="#modal">Reset Password</a>
  </div>
</div>
{% endblock %}
