{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
subscriptions
{% endblock %}

{% block content %}
  <!-- MULTI BAR -->
<div class="container" id="multi-bar">
  <div class="row" id="podinfo">
    <div class="col texture">
    </div>
  </div>
</div>

<div class="container">
  <!-- SUBSCRIPTIONS -->
  <div class="row" id="subscriptions">
    {% include 'index/subscriptions_results.html' %}
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(window).ready(function() {
  // load tracks for podcast
  // TODO also load on back button
  var url = "/subscriptions/";
  $.ajax({
    method: "POST",
    url: url,
  })
    .fail(function(xhr, ajaxOptions, thrownError){
      console.log(thrownError);
      $("#subscriptions").hide();
      $("#subscriptions").html("<p>No results :p</p>");
      $('#overlay').addClass('hide');
      $("#subscriptions").fadeIn();
    })
    .done(function(response) {
      $("#subscriptions").hide();
      $("#subscriptions").html(response);
      $('#overlay').addClass('hide');
      $("#subscriptions").fadeIn();
    });
});
</script>
{% endblock %}
