{% extends request.is_ajax|yesno:'ajax.html,index/header.html' %}

{% block title %}
subscriptions
{% endblock %}

{% block content %}
<!-- MULTI BAR -->
<div class="container">
   <form class="row" id="search-form" method="GET" action="{% url 'search' %}">
     {% include 'multibar.html' %}
   </form>
</div>
<!-- MAIN -->
<div class="container">
  <div class="row" id="main">
    <div class="col">
      <!-- SUBSCRIPTIONS -->
        <div class="row" id="results">
          {% include 'index/subscriptions_results.html' %}
        </div>
      <!-- RECOMMENDATIONS -->
      <div class="row" id="recommendations">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(window).ready(function() {
  // load tracks for podcast
  // TODO also load on back button
  var url = "/subscriptions/";
  $.ajax({
    method: "POST",
    url: url,
  })
    .fail(function(xhr, ajaxOptions, thrownError){
      console.log(thrownError);
    })
    .done(function(response) {
      $("#results").html(response);
    });
});
</script>
{% endblock %}
