{% extends request.is_ajax|yesno:'ajax.html,index/index.html' %}

{% block title %}
dopepod
{% endblock %}

{% block results %}
<div class="col" id="results">
  {% include 'optionsbar.html' %}
  <div class="row" id="subscriptions-list">
    {% if subscriptions %}
      <div class="col">
        {% for subscription in subscriptions %}
          <div class="row">
            <a class="col show-podinfo sub-box" href="{% url 'podinfo' itunesid=subscription.itunesid %}">
              <h6>
                {{ subscription.title }}
              </h6>
              <p>
                {{ subscription.last_updated }}
              </p>
            </a>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="col">
        <p>
          No results :p
        </p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
