<script type="text/javascript">
$(function() {
  function refresh_page() {
    // refresh navbar (and maybe other stuff as well?)
    $.ajax({
      type: "GET",
      url: "{% url 'navbar' %}",
      error: function(xhr, ajaxOptions, thrownError){alert(thrownError);},
      success: function(response) {
        // refresh navbar
        $(".nav-content").html(response);
        // TODO go to index
      }
    });
  }
  $('.login-form, .signup-form').submit(function (event) {
    event.preventDefault();
    var data = $(this).serialize();
    var method = this.method;
    var url = this.action;
    $.ajax({
      data: data,
      method: method,
      url: url,
      error: function(xhr, ajaxOptions, thrownError) {
        console.log(thrownError);
        $(".modal-content").html(xhr.responseJSON.html);
      },
      success: function() {
        $("#modal").modal("hide");
        refresh_page();
      }
    });
  });
  $('.login-link, .signup-link').click(function() {
    event.preventDefault();
    var method = this.method;
    var url = this.href;
    $.ajax({
      data: "",
      method: method,
      url: url,
      error: function(xhr, ajaxOptions, thrownError){
        console.log(thrownError);
      },
      success: function(response) {
        $(".modal-content").html(response.html);
      }
    });
  });
});
</script>

{% block content %}
{% endblock %}
