{% extends request.is_ajax|yesno:'ajax.html,account/base.html' %}

{% load i18n %}

{% block title %}
register
{% endblock %}

{% block account %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a class="login-link" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup-form" method="POST" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}
